
<header id="header" header></header>

<div class="animated fadeIn"> <!-- padding-bottom gives clearance for the fixed footer -->
      <div ui-view></div>
</div>

<footer id="footer" footer></footer>
