<div class="alert alert-danger" ng-message="error404">Requested Resource not found</div>
<div class="alert alert-danger" ng-message="error400">Bad Request</div>
<div class="alert alert-danger" ng-message="error401">Unauthorized</div>
<div class="alert alert-danger" ng-message="error403">Forbidden</div>
<div class="alert alert-danger" ng-message="error500">Server Error</div>
