<div class="content-wrapper" style="text-align: center; border: 1px solid #c94a4a;">
  <h1><code>&lt;div class="content-wrapper"&gt;&lt;/div&gt;</code></h1>
  <h3 style="border-bottom: none; background-color: transparent;">width: 100%, padding: 20px</h3>

  <section style="border: 1px solid #66b8da; padding: 20px;">
    <h1><code>&lt;section&gt;&lt;/section&gt;</code></h1>
    <h3>max-width: 1140px (fluid), margin-left/right: auto, margin-bottom: 60</h3>
    <div class="row" style="border: 1px solid lightgreen;">

      <code>&lt;div class="row"&gt;This must wrap col-md-* classes&lt;/div&gt;</code>
      <br><br>
      <div class="col-md-3" style="border:1px solid #000000;"><code>&lt;div class="col-md-3"&gt;&lt;/div&gt;</code></div>
      <div class="col-md-3" style="border:1px solid #000000;"><code>&lt;div class="col-md-3"&gt;&lt;/div&gt;</code></div>
      <div class="col-md-3" style="border:1px solid #000000;"><code>&lt;div class="col-md-3"&gt;&lt;/div&gt;</code></div>
      <div class="col-md-3" style="border:1px solid #000000;"><code>&lt;div class="col-md-3"&gt;&lt;/div&gt;</code></div>
      <br><br>
      <div class="col-md-4" style="border:1px solid #000000;"><code>&lt;div class="col-md-4"&gt;&lt;/div&gt;</code></div>
      <div class="col-md-4" style="border:1px solid #000000;"><code>&lt;div class="col-md-4"&gt;&lt;/div&gt;</code></div>
      <div class="col-md-4" style="border:1px solid #000000;"><code>&lt;div class="col-md-4"&gt;&lt;/div&gt;</code></div>
      <br><br>
      <div class="col-md-6" style="border:1px solid #000000;"><code>&lt;div class="col-md-6"&gt;&lt;/div&gt;</code></div>
      <div class="col-md-6" style="border:1px solid #000000;"><code>&lt;div class="col-md-6"&gt;&lt;/div&gt;</code></div>
      <br><br>
      <div class="col-md-12" style="border:1px solid #000000;"><code>&lt;div class="col-md-12"&gt;&lt;/div&gt;</code></div>

    </div>
    <br>
    <div class="well well-lg">
      <h1><code>&lt;div class="well well-lg"&gt;&lt;/div&gt;</code></h1>
      <h3>padding: 24px, margin-bottom: 20px</h3>
    </div>


    <div class="row">
      <h3>Panels are wrapped by <code>&lt;div class="panel panel-default"&gt;&lt;/div&gt;</code>: panel-default or panel-danger or panel-success...etc</h3>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><code>&lt;div class="panel-heading"&gt;&lt;/div&gt;</code></div>
          <div class="panel-body"><code>&lt;div class="panel-body"&gt;&lt;/div&gt;</code></div>
          <div class="panel-footer"><code>&lt;div class="panel-footer"&gt;&lt;/div&gt;</code></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading"><code>&lt;div class="panel-heading"&gt;&lt;/div&gt;</code></div>
          <div class="panel-body"><code>&lt;div class="panel-body"&gt;&lt;/div&gt;</code></div>
          <div class="panel-footer"><code>&lt;div class="panel-footer"&gt;&lt;/div&gt;</code></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-danger">
          <div class="panel-heading"><code>&lt;div class="panel-heading"&gt;&lt;/div&gt;</code></div>
          <div class="panel-body"><code>&lt;div class="panel-body"&gt;&lt;/div&gt;</code></div>
          <div class="panel-footer"><code>&lt;div class="panel-footer"&gt;&lt;/div&gt;</code></div>
        </div>
      </div>
    </div>

  </section>


</div>

<div class="content-wrapper">
  <div class="well well-lg">
    <h1>Forms and more</h1>


    <div class="row">
      <div class="col-md-6">

        <h3>Input</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Input" id="example-input">
        </div>
        <p class="text-danger">Error message text</p>
        <p class="text-warning">Warning message text</p>
        <pre>
    &lt;div class="row"&gt;
      &lt;div class="col-md-6"&gt;
        &lt;div class="form-group"&gt;
          &lt;input type="text" class="form-control"&gt;
        &lt;/div&gt;
        &lt;p class="text-danger"&gt;Error message text&lt;/p&gt;
        &lt;p class="text-warning"&gt;Warning message text&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
        </pre>
        <p><code>class="row"</code> required as a wrapper for <code>col-md-6</code></p>
        <p><code>class="col-md-6"</code> helps control input element width</p>
        <p><code>class="form-group"</code> gives margin-bottom: 15px;</p>
        <p><code>class="form-control"</code> provides styling for input</p>

        <div class="form-group">
          <select name="dropdown" class="form-control">
            <option value="" disabled selected>I am disabled and selected</option>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
          </select>
        </div>
        <pre>
  &lt;div class="form-group"&gt;
    &lt;select name="dropdown" class="form-control"&gt;
      &lt;option value="" disabled selected&gt;I am disabled and selected&lt;/option&gt;
      &lt;option value="Option 1"&gt;Option 1&lt;/option&gt;
      &lt;option value="Option 2"&gt;Option 2&lt;/option&gt;
    &lt;/select&gt;
  &lt;/div&gt;
        </pre>

        <h4>Date Picker:</h4>
        <div class="form-group input-group">
          <input type="text" name="datePickerName" datepicker-popup="dd-MMMM-yyyy" ng-model="example.datePickerValue" class="form-control" is-open="example.datePickerIsOpen">
          <span class="input-group-btn">
            <button type="button" ng-click="example.openDatePicker()" class="btn btn-default">
              <em class="fa fa-calendar"></em>
            </button>
          </span>
        </div>

        <pre>
  &lt;div class="form-group input-group"&gt;
  &lt;input type="text" name="datePickerName" datepicker-popup="dd-MMMM-yyyy" ng-model="example.datePickerValue" class="form-control" is-open="example.datePickerIsOpen"&gt;
    &lt;span class="input-group-btn"&gt;
      &lt;button type="button" ng-click="example.openDatePicker()" class="btn btn-default"&gt;
        &lt;em class="fa fa-calendar"&gt;&lt;/em&gt;
      &lt;/button&gt;
    &lt;/span&gt;
  &lt;/div&gt;
        </pre>
        <p>More info on date picker: <a href="https://angular-ui.github.io/bootstrap/#/datepicker">https://angular-ui.github.io/bootstrap/#/datepicker</a></p>




      </div><!-- end forms column -->

      <div class="col-md-6">
        <h3>Buttons</h3>
        <button class="btn btn-primary btn-lg">Primary</button>
        <button class="btn btn-default btn-lg">Default</button>
        <button class="btn btn-yellow btn-lg">Yellow</button>
        <button class="btn btn-success btn-sm">Success (btn-sm)</button>
        <button class="btn btn-danger btn-lg disabled">Danger (disabled)</button>
        <a class="btn btn-info btn-sm">Info</a>
        <br><br>
        <p>Code for above buttons</p>
        <pre>
        &lt;button class="btn btn-primary btn-lg"&gt;Primary&lt;/button&gt;
        &lt;button class="btn btn-default btn-lg"&gt;Default&lt;/button&gt;
        &lt;button class="btn btn-yellow btn-lg"&gt;Consumer Yellow&lt;/button&gt;
        &lt;button class="btn btn-primary btn-sm"&gt;Success&lt;/button&gt;
        &lt;button class="btn btn-danger btn-lg disabled"&gt;Danger&lt;/button&gt;
        &lt;a class="btn btn-info btm-sm"&gt;Info&lt;/a&gt;  &lt;!-- using btn-sm --&gt;
        </pre>
        <p>class <code>btn</code> is required, <code>btn-default / btn-yellow</code> determines color, <code>btn-lg / btn-sm</code> determines size.</p>
        <p>also works with <code>&lt;a&gt;&lt;/a&gt;</code></p>


      </div><!-- end buttons column -->



    </div>
    <div class="row">

      <div class="col-md-7">
        <h3>Form Validation</h3>
        <form name="example.loginForm">
          <div class="form-group">
            <input type="text" ng-model="example.user.email" name="myName" custom-validation placeholder="This field is required, and validates even number characters" class="form-control" required>
          </div>
          <div ng-messages="example.loginForm.myName.$error" ng-show="example.loginForm.myName.$dirty">
            <p ng-message="required" class="text-danger animated pulse">This field is required</p>
            <p ng-message="customError" class="text-danger animated pulse">Odd number of characters, this is custom directive validation.</p>
          </div>
          <pre>
&lt;form name="example.loginForm"&gt;
  &lt;div class="form-group"&gt;
    &lt;input type="text" ng-model="example.user.email" name="myName" custom-validation class="form-control" required&gt;
  &lt;/div&gt;
  &lt;div ng-messages="example.loginForm.myName.$error" ng-show="example.loginForm.myName.$dirty"&gt;
    &lt;p ng-message="required" class="text-danger animated pulse"&gt;This field is required&lt;/p&gt;
    &lt;p ng-message="customError" class="text-danger animated pulse"&gt;Odd number of characters, this is custom directive validation.&lt;/p&gt;
  &lt;/div&gt;
&lt;/form&gt;
          </pre>
          <h4>$error property of the input box</h4>
          <pre>example.loginForm.myName.$error = {{example.loginForm.myName.$error | json}}</pre>

        </form>
      </div><!-- end form validation section -->


      <div class="col-md-5">
        <h3>Validation using ngMessages</h3>
        <p>ng-messages directive observes the field.$error value. If the error key matches the ng-message value, it will display that message.</p>
        <p>The $error object only holds one key/value at a time, so only one ng-message will show. The text decorated with <code>text-danger animated pulse</code> classes.</p>
        <p>The example to the left shows the ng-messages attached to <code>example.loginForm.myName.$error</code>, where:</p>
        <ul>
          <li>example is the controller name</li>
          <li>loginForm is the 'name' of the form (example.loginForm is the name, attached to the example controller)</li>
          <li>myName is the 'name' of the text input</li>
          <li>$error is the Angular property of the field state</li>
        </ul>
        <p>The $error example to the left shows when there is an error, the key will have the value of <code>true</code>.</p>



      </div><!-- -->
    </div><!-- end row for validation #1 -->

    <div class="row">
      <div class="col-md-6">
        <h3>Form Validation, using directives for error messages.</h3>
        <form name="example.phoneForm">
          <div class="form-group">
            <input type="text" ng-model="example.user.phone" name="phoneName" ng-pattern="/^[0-9]+$/" placeholder="This field is required, and numbers only." class="form-control" required>
          </div>
          <div ng-messages="example.phoneForm.phoneName.$error" ng-show="example.phoneForm.phoneName.$dirty">
            <div ng-messages-include="app/content/examples/phone-validation-messages.html"></div>
          </div>
        </form>

        <pre>
&lt;div ng-messages="example.phoneForm.phoneName.$error" ng-show="example.phoneForm.phoneName.$dirty"&gt;
  &lt;div ng-messages-include="app/content/examples/phone-validation-messages.html"&gt;&lt;/div&gt;
&lt;/div&gt;
        </pre>

      </div><!-- end input box -->

      <div class="col-md-6">
        <h3>Abstract error messages to central location</h3>
        <p>The example here is the same as above, but instead uses a template of error messages.</p>
        <p>This would enable us to have the same error template for re-occuring fields:</p>
        <ul>
          <li>Phone number</li>
          <li>Email</li>
          <li>Addresses</li>
          <li>etc</li>
        </ul>

      </div>


    </div>
    </div>
</div>

