
<div class="modal-close" ng-click="login.closeModal()"></div>

<div class="modal-header">
  <h3 class="modal-title">登录</h3>  {{login.message}}
</div>

<form name="loginForm" role="login-form" ng-submit="login.customerLogin()" novalidate>

  <div class="modal-body">

    <div ng-if="login.modalOptions.isTimeout" class="alert alert-warning">{{'SessionTimeout'}}</div>

    <div class="row">

      <div class="col-md-12">
        <div class="form-group has-feedback" validation-glyphs observe="loginForm.email">
          <label class="control-label">电子邮件</label>
          <input type="email" name="email" class="form-control" id="loginform-email" ng-change="login.auth.$error.authFailed =  false" ng-model="login.customer.email" ng-pattern="/\w+([-+.&#39;]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" required>

          <span class="zmdi form-control-feedback"></span>
          <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$dirty || loginForm.$submitted">
            <div ng-messages-include="app/layouts/shared/validation-messages/valid-email.html"></div>
          </div>
        </div>

        <div class="form-group has-feedback" validation-glyphs observe="loginForm.password">
          <label class="control-label">密码</label>
          <input type="password" name="password" class="form-control" id="loginform-password" ng-change="login.auth.$error.authFailed =  false" ng-model="login.customer.password" required>

          <span class="zmdi form-control-feedback"></span>
          <!--<div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty || loginForm.$submitted">-->
            <!--<div ng-messages-include="app/layouts/shared/validation-messages/password.html"></div>-->
          <!--</div>-->
        </div>

        <div ng-messages="login.auth">
          <div class="alert alert-danger" ng-message="error401" class="help-block">
            {{'TxtIncorrectLoginDetails'}}
          </div>
          <div ng-messages-include="app/layouts/shared/validation-messages/api-error.html"></div>
        </div>
      </div>

      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end modal-body -->
  <div class="modal-footer">
    <button class="btn btn-link btn-lg" type="button" ng-click="login.openForgotPassword()">
      忘记密码
    </button>
    <button type="submit" class="btn btn-lg btn-primary" ng-click="login.customerLogin()"> 登录1 </button>
    <!-- end row (nested) -->
  </div>
  <!-- end modal-footer -->
</form>
<!-- end registration form -->

