<div class="content-wrapper">
  <section>
      <div class="card z-depth-1">
        <div class="card-body card-padding">

          <h1> 注册新用户 </h1>
          <p><a ng-click="homePage.openLogin()" class="link">已有帐号，登录</a></p>

          <registration-form></registration-form>
        </div>

      </div><!-- end well-lg -->
  </section>
</div>
