<form role="registration-form" name="registrationForm"
      ng-submit="registrationForm.$valid && account.createAccount(registrationForm)" novalidate>
  <div class="row">

    <div class="col-md-8">
      <div class="form-group has-feedback" validation-glyphs observe="registrationForm.email">
        <label class="control-label">电子邮件</label>
        <input type="email" class="form-control" name="email" ng-model-options="{debounce: 200}"
               placeholder="电子邮件" ng-model="account.user.email" id="regform-email"
               ng-pattern="/\w+([-+.&#39;]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" validate-email unique-email="true"
               required>
        <span class="zmdi form-control-feedback"></span>
        <div ng-messages="registrationForm.email.$error"
             ng-show="(registrationForm.email.$dirty && registrationForm.email.$touched) || registrationForm.$submitted">
          <div ng-messages-include="app/layouts/shared/validation-messages/valid-email.html"></div>
        </div>
      </div>

      <div class="form-group has-feedback" validation-glyphs observe="registrationForm.confirmEmail">
        <label class="control-label">再输入一遍电子邮件</label>
        <input type="input" class="form-control" name="confirmEmail" placeholder="重复一遍电子邮件"
               ng-model="account.user.confirmEmail" id="regform-email-confirmation" match-field
               with="registrationForm.email" required>
        <span class="zmdi form-control-feedback"></span>
        <div ng-messages="registrationForm.confirmEmail.$error"
             ng-show="(registrationForm.confirmEmail.$dirty && registrationForm.confirmEmail.$touched) || registrationForm.$submitted">
          <div ng-messages-include="app/layouts/shared/validation-messages/confirm-email.html"></div>
        </div>
      </div>

      <div class="form-group has-feedback" validation-glyphs observe="registrationForm.password">
        <label class="control-label">密码</label>
        <input type="password" name="password" class="form-control" placeholder="密码"
               ng-model="account.user.password" id="regform-password" ng-minlength="3" required>
        <span class="zmdi form-control-feedback"></span>
        <div ng-messages="registrationForm.password.$error"
             ng-show="registrationForm.password.$dirty || registrationForm.$submitted">
          <div ng-messages-include="app/layouts/shared/validation-messages/password.html"></div>
        </div>
      </div>

      <div class="form-group has-feedback" validation-glyphs observe="registrationForm.confirmPassword">
        <label class="control-label">重复一遍密码</label>
        <input type="password" name="confirmPassword" class="form-control" placeholder="重复一遍密码"
               ng-model="account.user.confirmPassword" id="regform-password-confirmation" ng-minlength="6" match-field
               with="registrationForm.password" required>
        <span class="zmdi form-control-feedback"></span>
        <div ng-messages="registrationForm.confirmPassword.$error"
             ng-show="registrationForm.confirmPassword.$dirty || registrationForm.$submitted">
          <div ng-messages-include="app/layouts/shared/validation-messages/password.html"></div>
        </div>
      </div>

      <!-- row for clear/submit buttons -->

    </div><!-- end col-md-6 -->

    <div class="col-md-12">
      <div ng-messages="account.registrationError">
        <div ng-messages-include="app/layouts/shared/validation-messages/api-error.html"></div>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="row">

        <div class="col-md-7 col-sm-7 col-xs-12 m-b-10">
          <button type="submit" class="btn btn-primary btn-lg btn-block">注册帐号</button>
        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
          <button class="btn btn-link btn-lg btn-block">清除</button>
        </div>

      </div><!-- end row (nested) -->
    </div>

  </div><!-- end row -->
</form><!-- end registration form -->
