.card .card-body {
  position: relative;
  padding: 20px 22px;
}
.card .card-item {
  position: relative;
  min-height: 120px;
}
.card .card-item > p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  margin: 0;
}
.card .card-offset {
  position: relative;
}
.card .card-offset > * {
  position: absolute;
  top: 0;
  right: 15px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.card .card-toolbar {
  position: relative;
  width: 100%;
  min-height: 64px;
  font-size: 18px;
  line-height: 64px;
  padding-left: 22px;
  z-index: 2;
}
