
.panel > .list-group .list-group-item {
  border-top: 0;
}
.page-header {
  border-bottom-color: #e4eaec;
}
.panel .panel-heading {
  border-bottom: 0;
  font-size: 14px;
}
.panel .panel-heading a {
  text-decoration: none !important;
}
.panel.panel-default {
  border-top-width: 3px;
}
