<div class="modal-close" ng-click="$close(false)"></div>

<div class="modal-header">
  <h2>{{loca.get(vm.header)}}</h2>
</div>

<div class="modal-body">
  <p>{{loca.get(vm.body)}}</p>
</div>

<div class="modal-footer">
  <button class="btn btn-lg btn-link" ng-click="$close(false)">{{'no'}}</button>
  <button class="btn btn-lg btn-primary" ng-click="$close(true)">{{'yes'}}</button>
</div>


