#actionBarTranslate #langs {
  float: right
}

ul, menu, dir {
  list-style: none;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.actionBar, {
  z-index: 9999;
  position: relative;
  padding: 15px 0 15px 11px;
  //background-color: #eee;
  font-size:15px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 0 5px;
}
.actionBar li {
  padding: 0 10px;
  color: #aaa;
  font-size: 12px;
  float: left;
  text-align: center;
}
.actionBar li.active {
  font-weight: bold;
  color: #53a7ff
}
.actionBar li a{
  font-size: 13px;
}
.actionBar li.active:hover {
  cursor: pointer;
  background-color: #ffb744;
}

#actionBarTranslate #langs {
  float: right
}
#showpage #pagetext i {
  font-size: inherit
}
#showpage .pagehtml i {
  font-size: inherit
}
#actionBar li.active img {
  margin: 0 5px -5px 10px
}
#shareContainer {
  display: none;
  margin: 10px 0 10px 130px;
  width: 310px;
  cursor: pointer;
  padding: 10px;
  background-color: #ddd;
  border-radius: 5px
}
#shareContainer #socialShare {
  margin: 0 auto;
  width: 150px
}
#shareContainer a {
  margin-left: 10px
}
#shareContainer .action {
  margin-top: 10px
}
#shareContainer .action span {
  font-weight: bold
}
#shareContainer .action input {
  margin-left: 3px;
  padding: 5px
}
#shareContainer .action input:hover {
  cursor: pointer
}
#shareContainer #copyLink {
  width: 180px
}
#shareContainer #copyEmbed {
  width: 165px
}
