
<div class="book-panel-small "
     ng-click="bookTitleCtrl.clickBook(book)"
     ng-mouseenter="$parent.bookCtrl.hoverOnBook(book)"
     ng-mouseleave="$parent.bookCtrl.hoverOnBook(book)"
  >

  <div class="book-body-small text-center  br-grey bkPic" ng-click="$parent.bookCtrl.clickBook(book)">
    <img class="book-preview-image" id="img_{{index}}"  ng-src= {{book.frontCover.previewImage}} />
    <div class="bookspinepic"></div>
    <span class="fs11">
                    <i class="fa pr5"></i>{{book.pages}} <span class="fa fa-commenting-o"></span>
                    <b>/{{book.comments ? book.comments.length : 0}} <span
                      class="fa fa-file-o"></span></b>
     </span>
    <div class="btn btn-warning btn-xs space-5px pull-right"
         ng-click="$parent.bookCtrl.deleteBook(book,index, $event)"
         data-effect="mfp-zoomIn" ng-show="book.hover">删除
    </div>

    <div class="btn btn-warning btn-xs space-5px pull-right" ng-click="$parent.bookCtrl.editBook(book.id)"
         ng-show="book.hover">修改
    </div>
    <div class="p8 bookTitle">
      {{book.title}}
    </div>
    <div class="book-footer-small text-center p8 bookTitle ">
    </div>
  </div>

</div>
