// Color variables (appears count calculates by raw css)
@color0: #ff9710; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width1: 172px; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height1: 129px; // Appears 2 times

 .book-panel-small {
                                background-color: transparent;
                                float: left;
                                height: 220px;
                                margin: 5px;
                                width: 220px;
&:hover {
   background-color: @color0;
   border: 2px solid @color0;
   cursor: pointer;
   cursor:hand;
 }
}
.book-body-small {
  background-color:ghostwhite;
  height: @height1;
  margin-top: 10px;
  margin:auto;
  width: @width1;
  float:left;
}
.book-footer-small {
  height: 30px;
  left: 10px;
  margin:8px;
}
.book-preview-panel {
  background-color: #ff6631;
  display: none;
  height : 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  width : 800px;
  z-index: 99999;
}
#booknav {
  top:90px;
}
.space-5px {
  margin-left:5px;
}
.book-preview-image {
  margin-top: 0px;
  margin:auto;
  max-height: @height1;
  max-width: @width1;
  left:0px;
  float:left;
  width:170px;
  height:127px;
  border:1px solid #aaa
}

.bkPic {
  position: relative;
  float: left;
  width: 180px;
  height: 137px;
  background: url(/images/book/index_book_bg.gif) no-repeat;
  background-size: 180px 137px;
  background-position: left 1px top 1px;
}

.bkPic .bookspinepic {
  position: absolute;
  margin-top: 0;
  top: 1px;
  left: 0;
  width: 8px;
  height: 127px;
  background: url(/images/book/spine3.png) no-repeat;
  background-size: 8px 127px;
}

.bookspinepic-big {
  position: absolute;
  margin-top: 0;
  top: 1px;
  left: 0;
  width: 16px;
  height: 387px;
  background: url(/images/book/spine3.png) repeat;
  background-size: 8px 127px;
}

.bookspinepic-big-right {
  position: absolute;
  margin-top: 0;
  top: 1px;
  right: 0px;;
  width: 16px;
  height: 387px;
  background: url(/images/book/spine3.png) repeat;
  background-size: 8px 127px;
}

