<div class="topbar-left">
  <ul class="nav nav-list nav-list-topbar pull-left">
    <li>
      <button type="button" ng-click="bookCtrl.createBook()" class="btn btn-rounded btn-warning btn-block">做本新书</button>
    </li>
  </ul>
</div>
