// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 5 times

// Width variables (appears count calculates by raw css)
@width2: 495px; // Appears 3 times
@width3: 543px; // Appears 2 times
@width4: 20px; // Appears 2 times
@width6: 22px; // Appears 2 times
@width7: 48px; // Appears 3 times

// Height variables (appears count calculates by raw css)
@height2: 417px; // Appears 2 times
@height5: 369px; // Appears 5 times
@height6: 48px; // Appears 3 times
@height7: 15px; // Appears 2 times

body {
  //background-color: #82bcff !important;
  min-height: 900px;
  overflow-y: scroll !important;
  padding-bottom: 50px;
}
.cover-white {
  background-color: @color0;
  height: @height5;
  left: 20px;
  position: absolute;
  top: 7px;
  width: @width2;
}
.float-left {
  float:left;
}
.float-right {
  float:right;
}
.page-white-right {
  background-color: @color0;
  height: @height5;
  position: absolute;
  width: @width2;
}
.page-white-left {
  background-color: @color0;
  height: @height5;
  position: absolute;
  width: @width2;
}
.sj-book {
  .back-side {
    .cover-white {
      left: 0;
    }
    .cover-spine-top {
      border-left: none;
      border-right: 1px solid rgba(50, 50, 50, .6);
      left: 0;
    }
    .cover-spine-bottom {
      border-left: none;
      border-right: 1px solid rgba(50, 50, 50, .6);
      left: 0;
    }
  }
  .cover-spine-top {
    background: rgba(50, 50, 50, .4);
    border-left: 1px solid rgba(50, 50, 50, .6);
    border-top: 1px solid rgba(50, 50, 50, .6);
    height: @height7;
    left: 495px;
    position: absolute;
    top: 0;
    width: @width4;
  }
  .cover-spine-bottom {
    background: rgba(50, 50, 50, .4);
    border-bottom: 1px solid rgba(50, 50, 50, .6);
    border-left: 1px solid rgba(50, 50, 50, .6);
    height: @height7;
    left: 495px;
    position: absolute;
    top: 371px;
    width: @width4;
  }
}
.page-shadow-left {
  background-image: url(/images/book/page-shadow-left.png);
  background-repeat: repeat-y;
  height: @height5;
  left: 473px;
  position: absolute;
  top: 0px;
  width: @width6;
  z-index: 100000;
}
.page-shadow-right {
  background-image: url(/images/book/page-shadow-right.png);
  background-repeat: repeat-y;
  height: @height5;
  left: 0;
  position: absolute;
  top: 0px;
  width: @width6;
  z-index: 100000;
}
.noie {
  .sj-book-transform {
    div[page="1"]>div {
      overflow: visible!important;
    }
    div[page="2"]>div {
      overflow: visible!important;
    }
  }
}
.depth {
  background-image: url(/images/book/pages-depth.png);
  height: 374px;
  position: absolute;
  top: 7px;
  width: 16px;
  background-repeat:no-repeat;
}
#book-wrapper {
  left: 0;
  margin-left: -258px;
  position: absolute;
  top: 0;
  z-index: 1;
  #bkPicFront {
    position: absolute;
    left: 257px;
    width: 543px;
    height: 417px;
    background: #fff url(/images/book/index_book_bg.gif) no-repeat;
    background-size: 543px 417px;
    //position: absolute;
    //background-size: 543px 417px;
    //background: @color0 url(/images/book/index_book_bg.gif) no-repeat;
    //height: @height2;
    //left: 257px;
    //width: @width3;
  }
  #bkPicBack {
    display: none;
    position: absolute;
    left: 229px;
    width: 543px;
    height: 417px;
    background: #fff url(/images/book/index_book_bg.gif) no-repeat;
    background-size: 543px 417px;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);


    //-moz-transform: scaleX(-1);
    //-ms-transform: scaleX(-1);
    //-o-transform: scaleX(-1);
    //-webkit-transform: scaleX(-1);
    //background-size: 543px 417px;
    //background: @color0 url(/images/book/index_book_bg.gif) no-repeat;
    //display: none;
    //height: @height2;
    //left: 229px;
    //position: absolute;
    //transform: scaleX(-1);
    //width: @width3;
  }
  #backpage-nav {
    display: none;
    height: @height6;
    margin-left: 258px;
    margin-top: 10px;
    position: relative;
    width: @width7;
    img {
      height: @height6;
      width: @width7;
    }
  }
  #navigation {
    display: none;
    margin-top: 10px;
    ul {
      li {
        float: right;
        &:first-child {
          float: left;
        }
        img {
          height: @height6;
          width: @width7;
        }
      }
    }
  }
}
.book-tile {
  margin:auto;
  width:1080px;
  display: none;
}
.book-panel {
  background-color: white;
  border: 0px solid #dde6e9;
  margin: 5px auto;
  padding:5px;
  position:relative;
  top:0px;
  width:100%;
}
#showpage {

  margin-top: 20px;
  min-height: 600px;
  position: relative;
  #left-column {
    z-index: 1000;
    float:left;
    margin-left:100px;
    margin-top: 418px;
  }
  #right-column {
    background-color: #0b97c4;
    float: right;
    min-height: 400px;
    width: 430px;
  }
}
#navigation {
  z-index: -1;
  li {
    &:hover {
      cursor: pointer;
    }
  }
}
#backpage-nav {
  &:hover {
    cursor: pointer;
  }
}

ul {
  list-style: none
}
