<script type="text/javascript" src="/vendor/turnjs/extras/jquery.min.1.7.js"></script>
<script type="text/javascript" src="/vendor/turnjs/extras/jquery-ui-1.8.20.custom.min.js"></script>
<script type="text/javascript" src="/vendor/turnjs/extras/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/vendor/turnjs/extras/modernizr.2.5.3.min.js"></script>
<script type="text/javascript" src="/vendor/turnjs/lib/hash.js"></script>


<!--<link href='/vendor/turnjs/sj/css/showpage.css' rel="stylesheet" type="text/css">-->
<audio id="coverturn-audio" preload="">
  <source src="/sound/page-flip.mp3" type="audio/mpeg">
  <source src=" /sound/page0-flip.ogg" type="audio/ogg">
</audio>

<audio id="pageturn-audio" preload="">
  <source src="/sound/page-flip.mp3" type="audio/mpeg">
  <source src=" /sound/page0-flip.ogg" type="audio/ogg">
</audio>

<div class="book-tile" >

  <div class="book-panel" style=" width: 100%;">

    <ul class="actionBar" style="list-style: none;background-color: transparent;border: 0px;">
      <li>
        <div class="icon active light">
          <a ng-href="/edit/"><i class="fa fa-book fa-lg"></i> 做本新书 </a>
          <!--<a ng-href="/edit/"><i class="fa fa-edit btn btn-rounded btn-warning light">做本新书</i></a>-->
        </div>
      </li>

      <li id="myBooks">
        <div class="icon">
          <a ng-href="/mybooks"><i class="fa fa-book fa-lg"></i> 我的书 </a>
          <!--<a ng-href="/mybooks"><i class="fa fa-book btn btn-rounded btn-warning light">我的书</i></a>-->
        </div>
      </li>
    </ul>

    <div id="showpage">
      <div id="book-wrapper" class="animated" >
      <div id="book-obj">
        <div id="bkPicFront" style=";"></div>
        <div id="bkPicBack" style="display: none;"></div>
        <div class="sj-book animated" >
          <!-- begin front cover -->
          <div class="page-wrapper hard"
               style="position: absolute; width: 515px; height: 387px; top: 0px; left: 0px; right: auto; overflow: visible;">
            <div style="position: absolute; top: 0px; left: 0px; overflow: hidden; width: 515px; height: 387px;
          z-index: 17;">
              <div depth="5" class="hard front-side page odd" style="float: left; width: 495px; height: 387px;">
                <cover-page data="book.frontCover" id=1000 width=515 height=387
                                  background-color="book.backgroundColor",
                                  image-width="book.frontCover.width"
                                  image-height="book.frontCover.height"
                                  image-index = 'book.frontCoverImageIndex'
                                  ></cover-page>
                <div class="depth" style="left: 4px; width: 0px;"></div>
                <div class="bookspinepic-big"></div>
              </div>
            </div>
          </div>
          <!-- end front cover !-->

          <!--begin back of front cover -->
          <div class="page-wrapper hard"  style="position: absolute;
         width: 515px; height: 395px;  left: auto; right: 0px; overflow: visible; ">
            <div style="position: absolute; top: 0px; right: 0px; overflow: hidden;width: 515px; height: 387px;
           ">
              <div depth="5" class="front-side hard" style="float: right; width: 515px; height: 387px; overflow: hidden;
                     background-color: {{book.backgroundColor}};  ">
                <div class="cover-spine-top"></div>
                <div class="cover-spine-bottom"></div>
                <div class="cover-white page-image"></div>
              </div>
            </div>

            <div class="depth" style="width: 0px; left: 0px;"></div>
          </div>
          <!-- end ack of front cover -->

          <!-- begin dedication page  -->
          <div class="page-wrapper own-size" style="position: absolute; width: 495px; height: 369px;
           top:0px; left: auto; left: 0px; overflow: visible;"  >
            <div depth="5"  class="back-side fixed" style="float: left; width: 495px; height: 369px; overflow: hidden;
                background-color: transparent"   >
              <div class="cover-spine-top"></div>
              <div class="cover-spine-bottom"></div>
              <div class="page-white-right page-image-right">
                <book-page data="book.dedicatedPage" id=1003 width=495 height=369
                           image-width="book.frontCover.width"  image-height="book.frontCover.height"
                  ></book-page>
              </div>
              <div class="page-shadow-right" ></div>
            </div>
            <div class="depth" style="width: 0px; right: 0px;"></div>
          </div>
          <!-- end of dedication page -->

          <!-- start pages  -->
          <div class="page-wrapper own-size"  style="position: absolute; width: 495px; height: 369px;  left: auto; right: 0px; overflow: visible; "
               ng-repeat="page in book.pages" >
            <div  ng-if=" $index % 2 == 1 "
                  style="float: left; width: 495px; height: 369px; overflow: hidden;"   >
              <div class="page-white-right page-image-right">
                <book-page id=$index data=page width=495 height=369 image-width="book.frontCover.width"  image-height="book.frontCover.height" />
              </div>
              <div class="page-number">{{$index}} </div>
              <div class="page-shadow-right" ></div>
            </div>
            <div
                 ng-if=" $index % 2 == 0 "
                 style="position: absolute; width: 495px; height: 365px;  left: auto; right: 0px; overflow: visible; " >
              <div style="overflow: hidden;width: 495px; height: 365px; backface-visibility: hidden; ">

                <div depth="5" class="front-side" style=" width: 495px; height: 365px; overflow: hidden;">
                  <div class="page-white-left page-image-left">
                    <book-page id=$index data=page width=495 height=369 image-width="book.frontCover.width"  image-height="book.frontCover.height"/>
                  </div>
                  <div class="page-number">{{$index}} </div>
                  <div class="depth" style="right: 0px; width: 0px;"></div>
                  <div class="page-shadow-left" ></div>
                </div>
              </div>
            </div>

            <div class="depth" style="right: 0px; width:0px;"></div>
          </div>
          <!-- end showing pages -->

          <div ng-if="evenPageCount "
               class="page-wrapper hard own-size"
               style="position: absolute; width: 495px; height: 365px; overflow: visible;">
            <div class=""
                 style="position: absolute; top: 0px; left: 0px; overflow: hidden;
                width: 515px; height: 387px; transform-origin: 100% 50% 0px; z-index: 17;">
              <div depth="5" class="hard cover back-side" style="width: 495px; height: 369px;">
                <div class="depth" style="right: 4px; width: 0px;"></div>
                <div class="cover-white page-image-left"></div>
                <div class="page-shadow-left" ></div>
              </div>
            </div>
            <div class="depth" style="right: 0px; width: 0px;"></div>
          </div>

          <!-- back of the back cover -->
          <div   class="page-wrapper hard back-side own-size fixed" style="position: absolute; width: 515px; height: 387px; " id="backBackCover">
            <div style="position: absolute; top: 0px; right: 0px; overflow: hidden;width: 515px; height: 387px;  ">
              <div depth="5" class="back-side hard" style="float: right; width: 515px; height: 387px; overflow: hidden;
                   background-color: {{book.backgroundColor}};  ">
                <div class="cover-spine-top"></div>
                <div class="cover-spine-bottom"></div>
                <div class="cover-white page-image"></div>
                <div class="page-shadow-right" ></div>
              </div>
            </div>

            <div class="depth" style="right: 0px; width:0px;"></div>
          </div>
          <!--  end back of the back cover -->

          <!-- begin back cover -->
          <div class="page-wrapper hard back-side"
               style="position: absolute; width: 515px; height: 387px; top: 0px; left: 0px; right: auto; overflow: visible;
               background-color: {{book.backgroundColor}} ">

            <div style="position: absolute; top: 0px; left: 0px; overflow: hidden; width: 515px; height: 387px;" class="hard" >

            <div depth="5" class="hard back-side" style="float: left; width: 495px; height: 387px;">
                <div depth="5" class="hard" style="width: 515px; height: 387px;">
                  <cover-page data="book.backCover" id=3000 width=515 height=387
                              background-color="book.backgroundColor",
                              image-width="book.frontCover.width"
                              image-height="book.frontCover.height"
                              image-index = 'book.backCoverImageIndex'
                    >
                  </cover-page>
                </div>
              </div>
            </div>

            <div class="depth" style="right: 0px; width: 0px;"></div>
          </div>
          <!-- end back cover -->

        </div>
      </div>
      <div id="navigation" style="display: none;">
        <ul style="list-style: none">
          <li><img id="nav-start" src="/images/book/icon-start.png"></li>
          <li><img id="nav-end" src="/images/book/icon-end.png"></li>
        </ul>
      </div>
    </div>

      <!-- action bar -->
      <script type="text/javascript">
        var pagetext = false;
        function pageOneTurn(book, page, pages) {

          $('#left-column').animate({'margin-left': '100px'}, 400);
          $('.buyPrompt').show();
          if (pagetext !== false)$('#pagetext').hide();
          setTimeout(function () {
            var pg = book.turn('page');
            if (pg === 1) {
              $('#bookMeta, #right-column').show();
            }
          }, 400);
        }
        function pageLastTurn(book, page, pages) {

          $('#left-column').animate({'margin-left': '100px'}, 400);
          $('.buyPrompt').show();
          if (pagetext !== false)$('#pagetext').hide();
          setTimeout(function () {
            var pg = book.turn('page');
            if (pg === pages) {
              $('#bookMeta, #right-column').show();
            }
          }, 400);
        }
        function pageOtherTurn(book, page, pages) {
          var txt = '';
          if (page % 2 == 1)page--;
          var pageleft = "";
          var pageright = "";
          if (pagetext !== false) {
            if (page > 3) {
              pageleft = ((pagetext.length > page - 3) ? pagetext[page - 3] : "");
              pageright = ((pagetext.length > page - 2) ? pagetext[page - 2] : "");
            } else if (page > 0) {
              pageright = (pagetext.length > 0) ? pagetext[0] : "";
            }
            $('#pagetextleft').html(pageleft);
            $('#pagetextright').html(pageright);
            if (page > 0)$('#pagetext').show(); else
              $('#pagetext').hide();
          }
          $('#bookMeta, #right-column').hide();
          $('#left-column').animate({'margin-left': '338px'}, 400);
          $('.buyPrompt').hide();
        }
      </script>

      <div id="left-column">
        <div id="actionBarTranslate">
        <ul class="actionBar" style="list-style: none; ">
          <li id="editButton" class="active">
            <div class="icon"> <a ng-href="/edit/{{readbookCtrl.bookId}}"><i class="fa fa-pencil"></i> 修改</a> </div>
          </li>
          <li id="commentButton" class="active">
            <div class="icon"><i class="fa fa-comment-o"></i> 发表评论 </div>
          </li>
          <li id="shareButton" class="active">
            <div class="icon"><i class="fa fa-share"></i> 分享给朋友 </div>
          </li>
          <li id="printButton" class="active">
            <div class="icon"><i class="fa fa-print"></i> 打印</div>
          </li>
        </ul>
      </div>
      </div>

      <div id="right-column">

      </div>
  </div>

</div>

</div>
<script type="text/javascript">
  $(function () {
    var pgimg = $('.sj-book .coverimg');
    pgimg.load(function () {
      var pgdiv = pgimg.closest('.cover');
      pgdiv.css({
        "background-image": "none",
        "background-color": "white"
      });
    }).each(function () {
      if (this.complete) {
        $(this).trigger('load');
      }
    });
  });

  function loadApp() {
    var flipbook = $('.sj-book');
    var turnstarttime = 0;
    var opencount = 0;
    if (flipbook.width() == 0 || flipbook.height() == 0) {
      setTimeout(loadApp, 10);
      return;
    }
    Hash.on('^page\/([0-9]*)$', {
      yep: function (path, parts) {
        var page = parts[1];
        if (page !== undefined) {
          page = parseInt(page, 10) + 2;
          if ($('.sj-book').turn('is')) $('.sj-book').turn('page', page);
        }
      },
      nop: function (path) {
        if ($('.sj-book').turn('is')) $('.sj-book').turn('page', 1);
      }
    });
    $(document).keydown(function (e) {
      var previous = 37,
        next = 39;
      if ($(e.target).is("textarea")) return;
      switch (e.keyCode) {
        case previous:
          $('.sj-book').turn('previous');
          break;
        case next:
          $('.sj-book').turn('next');
          break;
      }
    });

    flipbook.turn({
      elevation: 50,
      acceleration: !isChrome(),
      autoCenter: true,
      gradients: true,
      duration: 1500,
      pages: window.pageNumber,
      width: 1030,
      height: 387,
      when: {
        turning: function (e, page, view) {
          var book = $(this),
            currentPage = book.turn('page'),
            pages = book.turn('pages');
          turnstarttime = new Date().getTime();
          var pageturnSound = document.getElementById("pageturn-audio"),
            coverturnSound = document.getElementById("coverturn-audio");
          if (typeof(pageturnSound.load) === 'undefined') {
            pageturnSound.load = pageturnSound.pause = pageturnSound.play = function () {
            };
            coverturnSound.load = coverturnSound.pause = coverturnSound.play = function () {
            };
          }
          if (pageturnSound.readyState !== 4) pageturnSound.load();
          if (coverturnSound.readyState !== 4) coverturnSound.load();
          if (currentPage === 1 || currentPage === pages || page === 1 || page === pages) {
            coverturnSound.pause();
            pageturnSound.pause();
            if (coverturnSound.readyState === 4) {
              coverturnSound.currentTime = 0;
              coverturnSound.play();
            }
          } else {
            coverturnSound.pause();
            pageturnSound.pause();
            if (pageturnSound.readyState === 4) {
              pageturnSound.currentTime = 0;
              pageturnSound.play();
            }
          }
          if (page == 2 && currentPage == 1) {
          }
          if (page === 1) {
            $('#book-wrapper').css('margin-left', '-258px').css('clip', '');
            $('#bkPicFront').show();
            $('#bkPicBack, #navigation').hide();
            if (typeof pageOneTurn == 'function') pageOneTurn(book, page, pages);
          } else if (page === pages) {
            $('#book-wrapper').css('margin-left', '-234px');
            setTimeout(function () {
              var pg = book.turn('page');
              if (pg === pages) {
                $('#book-wrapper').css('clip', 'rect(-20px,773px,417px,0)');
              }
            }, 400);
            $('#bkPicBack').show();
            $('#bkPicFront, #navigation').hide();
            if (typeof pageLastTurn == 'function') pageLastTurn(book, page, pages);
          } else {
            $('#book-wrapper').css('margin-left', '0').css('clip', '');
            setTimeout(function () {
              var pg = book.turn('page');
              if (pg !== 1 && pg !== pages) {
                $('#navigation').show();
              }
            }, 400);
            $('#bkPicBack, #bkPicFront').hide();
            if (typeof pageOtherTurn == 'function') pageOtherTurn(book, page, pages);
          }
          if (currentPage > 3 && currentPage < pages - 3) {
            if (page == 1) {
              book.turn('page', 2).turn('stop').turn('page', page);
              e.preventDefault();
              return;
            } else if (page == pages) {
              book.turn('page', pages - 1).turn('stop').turn('page', page);
              e.preventDefault();
              return;
            }
          } else if (page > 3 && page < pages - 3) {
            if (currentPage == 1) {
              book.turn('page', 2).turn('stop').turn('page', page);
              e.preventDefault();
              return;
            } else if (currentPage == pages) {
              book.turn('page', pages - 1).turn('stop').turn('page', page);
              e.preventDefault();
              return;
            }
          }
          updateDepth(book, page);

          if(currentPage > 1){
            $('#backBackCover').addClass('fixed');
            $('.p29').addClass('fixed');
          }
          if (page >= 2) {
              $('.sj-book .p2').addClass('fixed');
          }
          else
            $('.sj-book .p2').removeClass('fixed');

          if (page < pages)
          {
            $('.sj-book .p29').addClass('fixed');
          }
          else
            $('.sj-book .p29').removeClass('fixed');

          if (page < 2) Hash.go('').update();
          else if (page == 2) Hash.go('page/1').update();
          else
            Hash.go('page/'.concat(page - 2)).update();


          if (page == 1) book.css({
            backgroundPosition: '125px 0'
          });
          else if (page == pages) book.css({
            backgroundPosition: '510px 0'
          });
          else
            book.css({
              backgroundPosition: '505px 0'
            });
        },
        turned: function (e, page, view) {
          var book = $(this),
            pages = book.turn('pages');
          updateDepth(book);
          if (page == 2 || page == 3) {
            book.turn('peel', 'br');
          }
          book.turn('center');
        },
        start: function (e, pageObj, corner) {
          var book = $(this);
          console.log(corner);
          if (pageObj.page == 2) book.css({
            backgroundPosition: '482px 0'
          });
          else if (pageObj.page == book.turn('pages') - 1) book.css({
            backgroundPosition: '472px 0'
          });
        },
        end: function (e, pageObj) {
          var book = $(this);
          updateDepth(book);
        },
//        missing: function (e, pages) {
//          for (var i = 0; i < pages.length; i++) addPage(pages[i], $(this));
//        }
      }
    });
    flipbook.addClass('animated');
    $('#book-obj').click(function (event) {
      var $clickedElement = $(event.target);
      var $page = $clickedElement.closest('.page-wrapper');
      var deltatime = new Date().getTime() - turnstarttime;
      if ($page && deltatime > 100) {
        var pg = parseInt($page.attr("page"), 10),
          currentPage = flipbook.turn("page"),
          pages = flipbook.turn("pages");
        var pWidth = flipbook.innerWidth();
        var pOffset = flipbook.offset();
        var x = event.pageX - pOffset.left;
        var reverse = ($('#book-obj').css('direction') === 'rtl');
        if (currentPage == 1) {
          if (x > pWidth / 2) flipbook.turn(reverse ? "previous" : "next");
        } else if (currentPage == pages) {
          if (x < pWidth / 2) flipbook.turn(reverse ? "next" : "previous");
        } else if (x > pWidth / 2) {
          flipbook.turn(reverse ? "previous" : "next");
        } else {
          flipbook.turn(reverse ? "next" : "previous");
        }
      }
    });

    $('.book-tile').css({"display":"block"})
  }
  $(function () {
    $('#nav-start').click(function (obj) {

      var reverse = ($('#book-obj').css('direction') === 'rtl');

      if (reverse) {
        var pg = $('.sj-book').turn("pages");
        $('.sj-book').turn("page", pg - 1).turn('stop').turn("page", pg);
      } else {
        $('.sj-book').turn("page", 2).turn('stop').turn("page", 1);
      }
    });
    $('#nav-end').click(function (obj) {
      var reverse = ($('#book-obj').css('direction') === 'rtl');
      if (reverse) {
        $('.sj-book').turn("page", 2).turn('stop').turn("page", 1);
      } else {
        var pg = $('.sj-book').turn("pages");
        $('.sj-book').turn("page", pg - 1).turn('stop').turn("page", pg);
      }
    });
  });

  yepnope({
    test: Modernizr.csstransforms,
    yep: ['/vendor/turnjs/lib/turn.min.js'],
    nope: ['/vendor/turnjs/lib/turn.html4.min.js', '/vendor/turnjs/sj/css/jquery.ui.html4.css', '/vendor/turnjs/sj/css/steve-jobs-html4.css'],
    both: ['/vendor/turnjs/sj/js/steve-jobs.js', '/vendor/turnjs/sj/css/jquery.ui.css', '/vendor/turnjs/sj/css/steve-jobs.css'],
    complete: loadApp
  });


</script>

