<div class="page-design-panel">
  <div class="page-design-border"
       ng-class="{active:main.PhotoBook.backCover.active}"
    >

    <canvas id="frontCoverCanvasRight"
            class="page-canvas"
            crossOrigin="Anonymous"
            ng-style= " {'background-color' : main.PhotoBook.backgroundColor}"
      />
  </div>
  <div class="back-cover-right">
    <div back-cover-design-right class="cover-panel"/>
  </div>
</div>
