<div class="page-design-panel">
  <div class="page-design-border"
       ng-class="{active:main.PhotoBook.backCover.active}"
       ng-style="{'background-color':main.PhotoBook.backgroundColor}">
    <div class="back-cover-up">

    </div>
    <img ng-src="{{main.backCover.previewImage}}">

    <div class="author-panel">
      <span>
          <img src="assets/images/logo-cloud.png" />
        </span>
    </div>
  </div>

  <div class="back-cover-right">
    <div back-cover-design-right class="cover-panel"/>
  </div>
</div>
