
<div class="row">
<br/>
</div>

<!---------------->
<div bk-color-picker />

<!---------------->
<div class="form row" style="margin-top:10px;position:relative; font-size: 12px;">
  选择封面图片
</div>
<div class="form row"  style="position:relative;font-size: 12px;">
  <ui-select ng-model="main.frontCover"
             theme="select2"
             search-enabled="false"
             on-select="main.coverImageSelected($item, $model)"
             style="min-width: 215px;"
             title="选择封面图片">
    <ui-select-match placeholder="选择一个封面图片">第 {{$select.selected.index  + 1}} 页</ui-select-match>
    <ui-select-choices
      repeat="page in main.PhotoBook.pages" position='auto'>
      <small>
        <img ng-src="{{page.previewImage}}" width='40' height="40" border="1"/>
        <span style="color:blue"> 第 {{$index + 1}} 页 </span>
      </small>
    </ui-select-choices>
  </ui-select>
</div>

</div>

<div class="row">
  <br/>
</div>
