<div class="page-design-panel">
  <div class="page-design-border" ng-class="{active:main.PhotoBook.dedicatedPage.active}" >
    <canvas id="dedicatePageCanvas" class="page-canvas" crossOrigin="Anonymous"
            ng-style= " {'background-color' : '#ffffff', selected:false}"  />
  </div>
  <!--<div class="dedication-right">-->
    <!--<div class="dedicateDiv">-->
    <!--<br/>-->
    <!--&lt;!&ndash;this is the dedeicate design page&ndash;&gt;-->
    <!--<label for="dedication" style="font-size: 12px;"><b>题词</b></label>-->
    <!--<br/>-->
    <!--<textarea id="dedication"-->

              <!--ng-model="main.PhotoBook.dedication"-->
              <!--style="font-size: 12px;">-->

    <!--</textarea>-->

      <!--<div class="color-picker" minicolors="brightnesssettings"-->
           <!--colorpicker-position="top"-->
           <!--ng-model="main.PhotoBook.dedicationColor">-->
      <!--</div>-->


      <!--&lt;!&ndash;<div class="row" style="position:relative;  border:0px; font-size: 12px;" title="更多颜色">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="pull-left">&ndash;&gt;-->
          <!--&lt;!&ndash;<input style="width:34px;"&ndash;&gt;-->
                 <!--&lt;!&ndash;minicolors="customerSettings"&ndash;&gt;-->
                 <!--&lt;!&ndash;id="inline"&ndash;&gt;-->
                 <!--&lt;!&ndash;class="form-control"&ndash;&gt;-->
                 <!--&lt;!&ndash;ng-model="main.PhotoBook.backgroundColor">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</div>-->
  <!--</div>-->

</div>
