<!--<div class="page-design-panel" id="pageDesignPanel" resize>-->
  <div class="page-big" ng-click="main.selectLeft()" ng-class="{active:main.PhotoBook.leftDesignPage.active}">
    <canvas class="page-canvas" crossOrigin="Anonymous" id="left_canvas" ></canvas>
  </div>

  <div class="page-big" ng-click="main.selectRight()" ng-class="{active:main.PhotoBook.rightDesignPage.active}">
    <canvas class="page-canvas" crossOrigin="Anonymous" id="right_canvas" ></canvas>
  </div>
<!--</div>-->
