<div class="page-design-panel">
  <div class="page-design-border" ng-class="{active:main.PhotoBook.frontCover.active}">
    <canvas id="frontCoverCanvas" class="page-canvas" crossOrigin="Anonymous"
            ng-style=" {'background-color' : main.PhotoBook.backgroundColor}"/>
  </div>
  <div class="front-cover-right">
    <div cover-design-right class="cover-panel"/>
  </div>
</div>
</div>
