<div class="row" style="position:relative; font-size: 12px;">
  选择背景颜色
</div>
<div class="book-background-panel row" style="margin-top:10px;">
  <div class="ql-toolbar ql-snow">
        <span class="ql-snow toolbar-item  ql-color ql-picker ql-color-picker ql-expanded ql-picker-options"  >
          <span class="ql-picker-item ql-primary" data-value="rgb(58, 67, 9)"
                style="background-color: rgb(58, 67, 9);"></span>
          <span class="ql-picker-item ql-primary" data-value="rgb(230, 0, 0)"
                style="background-color: rgb(230, 0, 0);"></span>
          <span class="ql-picker-item ql-primary"
                data-value="rgb(255, 153, 0)"
                style="background-color: rgb(255, 153, 0);"></span><span
          class="ql-picker-item ql-primary" data-value="rgb(255, 255, 0)"
          style="background-color: rgb(255, 255, 0);"></span>
          <span class="ql-picker-item ql-primary"
                data-value="rgb(0, 138, 0)"
                style="background-color: rgb(0, 138, 0);"></span><span
          class="ql-picker-item ql-primary" data-value="rgb(0, 102, 204)"
          style="background-color: rgb(0, 102, 204);"></span>
          <span class="ql-picker-item ql-primary"
                data-value="rgb(255, 177, 28)"
                style="background-color: rgb(255, 177, 28);"></span><span
          class="ql-picker-item" data-value="rgb(158, 198, 255)"
          style="background-color: rgb(158, 198, 255);"></span>
          <span class="ql-picker-item"
                data-value="rgb(250, 204, 204)"
                style="background-color: rgb(250, 204, 204);"></span><span
          class="ql-picker-item" data-value="rgb(255, 235, 204)"
          style="background-color: rgb(255, 235, 204);"></span>
          <span class="ql-picker-item"
                data-value="rgb(255, 255, 204)"
                style="background-color: rgb(255, 255, 204);"></span><span
          class="ql-picker-item" data-value="rgb(204, 232, 204)"
          style="background-color: rgb(204, 232, 204);"></span><span class="ql-picker-item"
                                                                     data-value="rgb(204, 224, 245)"
                                                                     style="background-color: rgb(204, 224, 245);"></span><span
          class="ql-picker-item" data-value="rgb(235, 214, 255)"
          style="background-color: rgb(235, 214, 255);"></span>
          <span class="ql-picker-item"
                data-value="rgb(187, 187, 187)"
                style="background-color: rgb(187, 187, 187);"></span><span
          class="ql-picker-item" data-value="rgb(240, 102, 102)"
          style="background-color: rgb(240, 102, 102);"></span>
          <span class="ql-picker-item"
                data-value="rgb(255, 194, 102)"
                style="background-color: rgb(255, 194, 102);"></span><span
          class="ql-picker-item" data-value="rgb(255, 255, 102)"
          style="background-color: rgb(255, 255, 102);"></span>
          <span class="ql-picker-item"
                data-value="rgb(102, 185, 102)"
                style="background-color: rgb(102, 185, 102);"></span><span
          class="ql-picker-item" data-value="rgb(102, 163, 224)"
          style="background-color: rgb(102, 163, 224);"></span>
          <span class="ql-picker-item"
                data-value="rgb(194, 133, 255)"
                style="background-color: rgb(194, 133, 255);"></span>
          <span
            class="ql-picker-item" data-value="rgb(136, 136, 136)"
            style="background-color: rgb(136, 136, 136);"></span>
          <span class="ql-picker-item" data-value="rgb(161, 0, 0)" style="background-color: rgb(161, 0, 0);"></span>
          <span
            class="ql-picker-item" data-value="rgb(178, 107, 0)" style="background-color: rgb(178, 107, 0);"></span>
          <span
            class="ql-picker-item" data-value="rgb(178, 178, 0)" style="background-color: rgb(178, 178, 0);"></span>
          <span
            class="ql-picker-item" data-value="rgb(0, 97, 0)" style="background-color: rgb(0, 97, 0);"></span><span
          class="ql-picker-item" data-value="rgb(0, 71, 178)" style="background-color: rgb(0, 71, 178);"></span><span
          class="ql-picker-item" data-value="rgb(107, 36, 178)"
          style="background-color: rgb(107, 36, 178);"></span><span
          class="ql-picker-item" data-value="rgb(68, 68, 68)" style="background-color: rgb(68, 68, 68);"></span><span
          class="ql-picker-item" data-value="rgb(92, 0, 0)" style="background-color: rgb(92, 0, 0);"></span><span
          class="ql-picker-item" data-value="rgb(102, 61, 0)" style="background-color: rgb(102, 61, 0);"></span><span
          class="ql-picker-item" data-value="rgb(102, 102, 0)" style="background-color: rgb(102, 102, 0);"></span><span
          class="ql-picker-item" data-value="rgb(0, 55, 0)" style="background-color: rgb(0, 55, 0);"></span><span
          class="ql-picker-item" data-value="rgb(0, 41, 102)" style="background-color: rgb(0, 41, 102);"></span><span
          class="ql-picker-item" data-value="rgb(61, 20, 102)"
          style="background-color: rgb(61, 20, 102);"></span>
        </span>
    <!--</span>-->
  </div>
</div>


<div class="row" style="margin-top:25px; position:relative; border:0px; font-size: 12px;">更多颜色...</div>

<div class="row" style="position:relative;  border:0px; font-size: 12px;" title="更多颜色">
  <div class="pull-left">
    <input style="width:34px;"
           minicolors="customerSettings"
           id="inline"
           class="form-control"
           ng-model="main.PhotoBook.backgroundColor">
  </div>
</div>
