<div class="page-preview-panel">
      <!--<div class="page-control-center">-->
        <div class="page-preview-scroll-panel">
          <div class="list-inline">
            <div class="DocumentItem" preview-front-cover ></div>
            <div class="DocumentItem" preview-dedicated-page ></div>
            <div class="DocumentItem"  ng-repeat="page in main.PhotoBook.pages">
              <div page-sheet></div>
            </div>
            <div class="DocumentItem" preview-back-cover ></div>

          </div>
        </div>
      <!--</div>-->
</div>
