<div class="page-design-panel" resize>
  <div class="page-big" ng-class="{active:main.PhotoBook.leftDesignPage.active}">
    <canvas class="page-canvas" crossOrigin="Anonymous" ng-click="main.selectLeft()" id="left_canvas" width="549px"
            height="389px"></canvas>
  </div>

  <div class="page-big" ng-class="{active:main.PhotoBook.rightDesignPage.active}">
    <canvas class="page-canvas" crossOrigin="Anonymous"  ng-click="main.selectRight()" id="right_canvas" width="549px"
            height="389px"></canvas>
  </div>
</div>
