<div class="page-sheet">
  <table style="{margin-left:auto; margin-right:auto;}">
    <tr>
      <td>
        <div class="page-preview" ng-click="main.previewClick(page,'left')" ng-class="{active:page.active}" >
          <img class="cover-image"  ng-src="{{page.previewImage}}" />
        </div>
      </td>
    </tr>
  </table>
</div>
