<div class="page-sheet">
  <table style="{margin-left:auto; margin-right:auto;}">
    <tr>
      <td>
        <div class="page-preview" ng-click="main.frontCoverClick()" ng-class="{active:main.PhotoBook.frontCover.active}" >
          <img class="cover-image" ng-src="{{main.PhotoBook.frontCover.previewImage}}" />
        </div>
      </td>
    </tr>
 </table>
</div>
