<div hidden>
  <div class="page-big"  hidden ng-repeat="page in main.PhotoBook.pages">
    <canvas class="page-canvas recover_canvas"  id="recover_canvas_{{$index}}"  crossOrigin="Anonymous" ></canvas>
  </div>
  <div class="page-big"  hidden>
    <canvas class="page-canvas recover_canvas"  id="recover_canvas"  crossOrigin="Anonymous" ></canvas>
  </div>

</div>
