 <!-- <div class="toolbarcontainer" style="top: -45px;">
  <!-- jquill text toolbar -->
  <div id="gtexttoolbar" class="floatingtexttoolbar">
    <!-- <div id="full-toolbar" class="toolbar"> -->
    <div class="edittoolbar ql-toolbar ql-snow">
            <span class="toolbar-group">
            <a href="#" title="Move Forward" class="toolbar-item tbmoveforward"
               ><i class="fa fa-arrow-up"></i></a>
            <a href="#" title="Move Back" class="toolbar-item tbmoveback"
               onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'backward']);"><i
              class="fa fa-arrow-down"></i></a>
            </span>

            <span class="webfonts" title="Font">
        <span data-image-src="Font" class="ql-font ql-picker"><span class="ql-picker-label"></span><span
          class="ql-picker-options"><span class="ql-picker-item" data-value="Anton"><img
          src="/fonts/Anton.png"></span><span class="ql-picker-item" data-value="BerkshireSwash"><img
          src="/fonts/Berkshire%20Swash.png"></span><span class="ql-picker-item" data-value="BlackOpsOne"><img
          src="/fonts/Black%20Ops%20One.png"></span><span class="ql-picker-item" data-value="Chewy"><img
          src="/fonts/Chewy.png"></span><span class="ql-picker-item" data-value="Cinzel"><img
          src="/fonts/Cinzel.png"></span><span class="ql-picker-item" data-value="Courgette"><img
          src="/fonts/Courgette.png"></span><span class="ql-picker-item" data-value="Creepster"><img
          src="/fonts/Creepster.png"></span><span class="ql-picker-item" data-value="Graduate"><img
          src="/fonts/Graduate.png"></span><span class="ql-picker-item" data-value="Kalam"><img src="/fonts/Kalam.png"></span><span
          class="ql-picker-item" data-value="Lora"><img src="/fonts/Lora.png"></span><span class="ql-picker-item"
                                                                                           data-value="PermanentMarker"><img
          src="/fonts/Permanent%20Marker.png"></span><span class="ql-picker-item" data-value="RobotoMono"><img
          src="/fonts/Roboto-Mono.png"></span><span class="ql-picker-item" data-value="RobotoCondensed"><img
          src="/fonts/Roboto-Condensed.png"></span><span class="ql-picker-item" data-value="Oregano"><img
          src="/fonts/Oregano.png"></span><span class="ql-picker-item" data-value="Pacifico"><img
          src="/fonts/Pacifico.png"></span><span class="ql-picker-item" data-value="RacingSansOne"><img
          src="/fonts/Racing%20Sans%20One.png"></span><span class="ql-picker-item" data-value="Roboto"><img
          src="/fonts/Roboto.png"></span><span class="ql-picker-item" data-value="NotoSans"><img
          src="/fonts/Noto-Sans.png"></span><span class="ql-picker-item" data-value="NotoSerif"><img
          src="/fonts/Noto-Serif.png"></span><span class="ql-picker-item" data-value="RobotoSlab"><img
          src="/fonts/Roboto-Slab.png"></span><span class="ql-picker-item" data-value="Ultra"><img
          src="/fonts/Ultra.png"></span></span></span><select data-image-src="Font" class="ql-font"
                                                              onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'font-family']);"
                                                              style="display: none;">


              <option data-image-src="/fonts/Anton.png" data-fontname="Anton" value="Anton"></option>


              <option data-image-src="/fonts/Berkshire%20Swash.png" data-fontname="Berkshire Swash"
                      value="BerkshireSwash"></option>


              <option data-image-src="/fonts/Black%20Ops%20One.png" data-fontname="Black Ops One"
                      value="BlackOpsOne"></option>


              <option data-image-src="/fonts/Chewy.png" data-fontname="Chewy" value="Chewy"></option>


              <option data-image-src="/fonts/Cinzel.png" data-fontname="Cinzel" value="Cinzel"></option>


              <option data-image-src="/fonts/Courgette.png" data-fontname="Courgette" value="Courgette"></option>


              <option data-image-src="/fonts/Creepster.png" data-fontname="Creepster" value="Creepster"></option>


              <option data-image-src="/fonts/Graduate.png" data-fontname="Graduate" value="Graduate"></option>


              <option data-image-src="/fonts/Kalam.png" data-fontname="Kalam" value="Kalam"></option>


              <option data-image-src="/fonts/Lora.png" data-fontname="Lora" value="Lora"></option>


              <option data-image-src="/fonts/Permanent%20Marker.png" data-fontname="Permanent Marker"
                      value="PermanentMarker"></option>


              <option data-image-src="/fonts/Roboto-Mono.png" data-fontname="Roboto Mono" value="RobotoMono"></option>


              <option data-image-src="/fonts/Roboto-Condensed.png" data-fontname="Roboto Condensed"
                      value="RobotoCondensed"></option>


              <option data-image-src="/fonts/Oregano.png" data-fontname="Oregano" value="Oregano"></option>


              <option data-image-src="/fonts/Pacifico.png" data-fontname="Pacifico" value="Pacifico"></option>


              <option data-image-src="/fonts/Racing%20Sans%20One.png" data-fontname="Racing Sans One"
                      value="RacingSansOne"></option>


              <option data-image-src="/fonts/Roboto.png" data-fontname="Roboto" value="Roboto"></option>


              <!-- workaround for bug in blaze where just adding "selected" does not work. Have do it in the onRendered javascript  -->
              <option data-image-src="/fonts/Noto-Sans.png" data-fontname="Noto Sans" value="NotoSans"
                      data-isdefault="yes" selected="selected"></option>


              <option data-image-src="/fonts/Noto-Serif.png" data-fontname="Noto Serif" value="NotoSerif"></option>


              <option data-image-src="/fonts/Roboto-Slab.png" data-fontname="Roboto Slab" value="RobotoSlab"></option>


              <option data-image-src="/fonts/Ultra.png" data-fontname="Ultra" value="Ultra"></option>


            </select>
    </span>
      <!--<select title="Font" class="ql-font">-->
      <!--<option value="sans-serif" selected="">Sans Serif</option>-->
      <!--<option value="serif">Serif</option>-->
      <!--<option value="monospace">Monospace</option>-->
      <!--</select>-->

      <span title="Size" class="ql-size ql-picker"><span class="ql-picker-label"></span><span class="ql-picker-options"><span
        class="ql-picker-item" data-value="11px" data-label="8"></span><span class="ql-picker-item" data-value="14px"
                                                                             data-label="10"></span><span
        class="ql-picker-item" data-value="16px" data-label="12"></span><span class="ql-picker-item" data-value="18px"
                                                                              data-label="14"></span><span
        class="ql-picker-item" data-value="22px" data-label="16"></span><span class="ql-picker-item" data-value="24px"
                                                                              data-label="18"></span><span
        class="ql-picker-item" data-value="27px" data-label="20"></span><span class="ql-picker-item" data-value="32px"
                                                                              data-label="24"></span><span
        class="ql-picker-item" data-value="40px" data-label="30"></span><span class="ql-picker-item" data-value="48px"
                                                                              data-label="36"></span><span
        class="ql-picker-item" data-value="60px" data-label="45"></span><span class="ql-picker-item" data-value="72px"
                                                                              data-label="54"></span><span
        class="ql-picker-item" data-value="84px" data-label="63"></span><span class="ql-picker-item" data-value="96px"
                                                                              data-label="72"></span></span></span><select
      title="Size" class="ql-size" onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'font-size']);"
      style="display: none;">
      <!-- sizes are displayed in 'pt', but represented in 'px'. The true conversion is 3pt = 4px. Some values are rounded -->


      <option value="11px">8</option>


      <option value="14px">10</option>


      <option value="16px">12</option>


      <option value="18px">14</option>


      <option value="22px">16</option>


      <option value="24px" data-isdefault="yes" selected="selected">18</option>


      <option value="27px">20</option>


      <option value="32px">24</option>


      <option value="40px">30</option>


      <option value="48px">36</option>


      <option value="60px">45</option>


      <option value="72px">54</option>


      <option value="84px">63</option>


      <option value="96px">72</option>


    </select>

      <span title="Text Color" class="toolbar-item ql-color ql-picker ql-color-picker"><span
        class="ql-picker-label"></span><span class="ql-picker-options"><span class="ql-picker-item ql-primary"
                                                                             data-value="rgb(1, 1, 1)"
                                                                             style="background-color: rgb(1, 1, 1);"></span><span
        class="ql-picker-item ql-primary" data-value="rgb(230, 0, 0)"
        style="background-color: rgb(230, 0, 0);"></span><span class="ql-picker-item ql-primary"
                                                               data-value="rgb(255, 153, 0)"
                                                               style="background-color: rgb(255, 153, 0);"></span><span
        class="ql-picker-item ql-primary" data-value="rgb(255, 255, 0)"
        style="background-color: rgb(255, 255, 0);"></span><span class="ql-picker-item ql-primary"
                                                                 data-value="rgb(0, 138, 0)"
                                                                 style="background-color: rgb(0, 138, 0);"></span><span
        class="ql-picker-item ql-primary" data-value="rgb(0, 102, 204)"
        style="background-color: rgb(0, 102, 204);"></span><span class="ql-picker-item ql-primary"
                                                                 data-value="rgb(153, 51, 255)"
                                                                 style="background-color: rgb(153, 51, 255);"></span><span
        class="ql-picker-item" data-value="rgb(255, 255, 255)"
        style="background-color: rgb(255, 255, 255);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(250, 204, 204)"
                                                                   style="background-color: rgb(250, 204, 204);"></span><span
        class="ql-picker-item" data-value="rgb(255, 235, 204)"
        style="background-color: rgb(255, 235, 204);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(255, 255, 204)"
                                                                   style="background-color: rgb(255, 255, 204);"></span><span
        class="ql-picker-item" data-value="rgb(204, 232, 204)"
        style="background-color: rgb(204, 232, 204);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(204, 224, 245)"
                                                                   style="background-color: rgb(204, 224, 245);"></span><span
        class="ql-picker-item" data-value="rgb(235, 214, 255)"
        style="background-color: rgb(235, 214, 255);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(187, 187, 187)"
                                                                   style="background-color: rgb(187, 187, 187);"></span><span
        class="ql-picker-item" data-value="rgb(240, 102, 102)"
        style="background-color: rgb(240, 102, 102);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(255, 194, 102)"
                                                                   style="background-color: rgb(255, 194, 102);"></span><span
        class="ql-picker-item" data-value="rgb(255, 255, 102)"
        style="background-color: rgb(255, 255, 102);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(102, 185, 102)"
                                                                   style="background-color: rgb(102, 185, 102);"></span><span
        class="ql-picker-item" data-value="rgb(102, 163, 224)"
        style="background-color: rgb(102, 163, 224);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(194, 133, 255)"
                                                                   style="background-color: rgb(194, 133, 255);"></span><span
        class="ql-picker-item" data-value="rgb(136, 136, 136)"
        style="background-color: rgb(136, 136, 136);"></span><span class="ql-picker-item" data-value="rgb(161, 0, 0)"
                                                                   style="background-color: rgb(161, 0, 0);"></span><span
        class="ql-picker-item" data-value="rgb(178, 107, 0)" style="background-color: rgb(178, 107, 0);"></span><span
        class="ql-picker-item" data-value="rgb(178, 178, 0)" style="background-color: rgb(178, 178, 0);"></span><span
        class="ql-picker-item" data-value="rgb(0, 97, 0)" style="background-color: rgb(0, 97, 0);"></span><span
        class="ql-picker-item" data-value="rgb(0, 71, 178)" style="background-color: rgb(0, 71, 178);"></span><span
        class="ql-picker-item" data-value="rgb(107, 36, 178)" style="background-color: rgb(107, 36, 178);"></span><span
        class="ql-picker-item" data-value="rgb(68, 68, 68)" style="background-color: rgb(68, 68, 68);"></span><span
        class="ql-picker-item" data-value="rgb(92, 0, 0)" style="background-color: rgb(92, 0, 0);"></span><span
        class="ql-picker-item" data-value="rgb(102, 61, 0)" style="background-color: rgb(102, 61, 0);"></span><span
        class="ql-picker-item" data-value="rgb(102, 102, 0)" style="background-color: rgb(102, 102, 0);"></span><span
        class="ql-picker-item" data-value="rgb(0, 55, 0)" style="background-color: rgb(0, 55, 0);"></span><span
        class="ql-picker-item" data-value="rgb(0, 41, 102)" style="background-color: rgb(0, 41, 102);"></span><span
        class="ql-picker-item" data-value="rgb(61, 20, 102)" style="background-color: rgb(61, 20, 102);"></span></span></span><select
      title="Text Color" class="toolbar-item ql-color"
      onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'font-color']);" style="display: none;">
      <option value="rgb(1, 1, 1)" label="rgb(1, 1, 1)" selected=""></option>
      <!-- Needs to be something other than 0,0,0 since quill assumes that is the default color -->
      <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
      <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
      <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
      <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
      <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
      <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
      <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
      <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
      <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
      <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
      <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
      <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
      <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
      <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
      <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
      <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
      <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
      <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
      <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
      <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
      <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
      <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
      <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
      <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
      <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
      <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
      <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
      <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
      <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
      <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
      <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
      <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
      <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
      <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
    </select>

      <!-- Need to have the class txt-background for quill to convert the rgb values to a picker and not trigger setting the font background -->
      <span title="Fill Color" class="toolbar-item txt-background tbbackground ql-picker ql-color-picker hidden"
            onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'background-color']);"><span
        class="ql-picker-label" data-value="rgb(255, 255, 255)"></span><span class="ql-picker-options"><span
        class="ql-picker-item ql-primary" data-value="transparent" style="background-color: transparent;"></span><span
        class="ql-picker-item ql-primary" data-value="rgb(1, 1, 1)" style="background-color: rgb(1, 1, 1);"></span><span
        class="ql-picker-item ql-primary" data-value="rgb(230, 0, 0)"
        style="background-color: rgb(230, 0, 0);"></span><span class="ql-picker-item ql-primary"
                                                               data-value="rgb(255, 153, 0)"
                                                               style="background-color: rgb(255, 153, 0);"></span><span
        class="ql-picker-item ql-primary" data-value="rgb(255, 255, 0)"
        style="background-color: rgb(255, 255, 0);"></span><span class="ql-picker-item ql-primary"
                                                                 data-value="rgb(0, 138, 0)"
                                                                 style="background-color: rgb(0, 138, 0);"></span><span
        class="ql-picker-item ql-primary" data-value="rgb(0, 102, 204)"
        style="background-color: rgb(0, 102, 204);"></span><span class="ql-picker-item" data-value="rgb(153, 51, 255)"
                                                                 style="background-color: rgb(153, 51, 255);"></span><span
        class="ql-picker-item ql-selected" data-value="rgb(255, 255, 255)"
        style="background-color: rgb(255, 255, 255);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(250, 204, 204)"
                                                                   style="background-color: rgb(250, 204, 204);"></span><span
        class="ql-picker-item" data-value="rgb(255, 235, 204)"
        style="background-color: rgb(255, 235, 204);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(255, 255, 204)"
                                                                   style="background-color: rgb(255, 255, 204);"></span><span
        class="ql-picker-item" data-value="rgb(204, 232, 204)"
        style="background-color: rgb(204, 232, 204);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(204, 224, 245)"
                                                                   style="background-color: rgb(204, 224, 245);"></span><span
        class="ql-picker-item" data-value="rgb(235, 214, 255)"
        style="background-color: rgb(235, 214, 255);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(187, 187, 187)"
                                                                   style="background-color: rgb(187, 187, 187);"></span><span
        class="ql-picker-item" data-value="rgb(240, 102, 102)"
        style="background-color: rgb(240, 102, 102);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(255, 194, 102)"
                                                                   style="background-color: rgb(255, 194, 102);"></span><span
        class="ql-picker-item" data-value="rgb(255, 255, 102)"
        style="background-color: rgb(255, 255, 102);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(102, 185, 102)"
                                                                   style="background-color: rgb(102, 185, 102);"></span><span
        class="ql-picker-item" data-value="rgb(102, 163, 224)"
        style="background-color: rgb(102, 163, 224);"></span><span class="ql-picker-item"
                                                                   data-value="rgb(194, 133, 255)"
                                                                   style="background-color: rgb(194, 133, 255);"></span><span
        class="ql-picker-item" data-value="rgb(136, 136, 136)"
        style="background-color: rgb(136, 136, 136);"></span><span class="ql-picker-item" data-value="rgb(161, 0, 0)"
                                                                   style="background-color: rgb(161, 0, 0);"></span><span
        class="ql-picker-item" data-value="rgb(178, 107, 0)" style="background-color: rgb(178, 107, 0);"></span><span
        class="ql-picker-item" data-value="rgb(178, 178, 0)" style="background-color: rgb(178, 178, 0);"></span><span
        class="ql-picker-item" data-value="rgb(0, 97, 0)" style="background-color: rgb(0, 97, 0);"></span><span
        class="ql-picker-item" data-value="rgb(0, 71, 178)" style="background-color: rgb(0, 71, 178);"></span><span
        class="ql-picker-item" data-value="rgb(107, 36, 178)" style="background-color: rgb(107, 36, 178);"></span><span
        class="ql-picker-item" data-value="rgb(68, 68, 68)" style="background-color: rgb(68, 68, 68);"></span><span
        class="ql-picker-item" data-value="rgb(92, 0, 0)" style="background-color: rgb(92, 0, 0);"></span><span
        class="ql-picker-item" data-value="rgb(102, 61, 0)" style="background-color: rgb(102, 61, 0);"></span><span
        class="ql-picker-item" data-value="rgb(102, 102, 0)" style="background-color: rgb(102, 102, 0);"></span><span
        class="ql-picker-item" data-value="rgb(0, 55, 0)" style="background-color: rgb(0, 55, 0);"></span><span
        class="ql-picker-item" data-value="rgb(0, 41, 102)" style="background-color: rgb(0, 41, 102);"></span><span
        class="ql-picker-item" data-value="rgb(61, 20, 102)" style="background-color: rgb(61, 20, 102);"></span></span></span><select
      title="Fill Color" class="toolbar-item txt-background tbbackground hidden"
      onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'background-color']);" style="display: none;">
      <option value="transparent" label="transparent"></option>
      <option value="rgb(1, 1, 1)" label="rgb(1, 1, 1)"></option>
      <!-- Set to match the black color above -->
      <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
      <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
      <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
      <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
      <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
      <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
      <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)" selected=""></option>
      <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
      <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
      <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
      <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
      <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
      <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
      <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
      <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
      <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
      <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
      <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
      <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
      <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
      <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
      <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
      <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
      <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
      <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
      <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
      <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
      <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
      <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
      <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
      <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
      <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
      <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
      <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
    </select>

      <button title="Bold" class="toolbar-item ql-bold"
              onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'bold']);" type="button"><i
        class="fa fa-bold"></i></button>
      <button title="Italic" class="toolbar-item ql-italic"
              onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'italic']);" type="button"><i
        class="fa fa-italic"></i></button>
      <button title="Underline" class="toolbar-item ql-underline"
              onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'underline']);" type="button"><i
        class="fa fa-underline"></i></button>
      <span title="Text Alignment" class="toolbar-item ql-align tbalign ql-picker ql-icon-picker hidden"
            onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'align']);"><span class="ql-picker-label"><img
        src="/images/fa-align-left.png"></span><span class="ql-picker-options"><span class="ql-picker-item"
                                                                                     data-value=""><img
        src="/images/fa-align-left.png"></span><span class="ql-picker-item" data-value="center"><img
        src="/images/fa-align-center.png"></span><span class="ql-picker-item" data-value="right"><img
        src="/images/fa-align-right.png"></span><span class="ql-picker-item" data-value="justify"><img
        src="/images/fa-align-justify.png"></span></span></span><select title="Text Alignment"
                                                                        class="toolbar-item ql-align tbalign hidden"
                                                                        onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'align']);"
                                                                        style="display: none;">
      <option value="" label="Left" selected=""></option>
      <option value="center" label="Center"></option>
      <option value="right" label="Right"></option>
      <option value="justify" label="Justify"></option>
    </select>
      <span><a href="#" title="Delete" class="toolbar-item tbdelete hidden"
               onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'delete']);"><i class="fa fa-times"></i></a></span>


      <!--   <span class="openMore"><i class="fa fa-caret-down"></i></span> -->

      <!-- more options -->
      <!--        <div class="moreoptions ql-picker">
                  <span class="ql-format-group">
                      <span title="Bold" class="ql-format-button ql-bold"></span>
                      <span title="Italic" class="ql-format-button ql-italic"></span>
                      <span title="Underline" class="ql-format-button ql-underline"></span>
                  </span>

                  <span class="ql-format-group">
                      <select title="Text Alignment" class="ql-align">
                          <option value="left" label="Left" selected=""></option>
                          <option value="center" label="Center"></option>
                          <option value="right" label="Right"></option>
                          <option value="justify" label="Justify"></option>
                      </select>
                  </span>
              </div> -->
      <!-- end of moreOptions -->

    </div>
  </div>
  <!-- props toolbar -->
  <div class="tool-items hidden">
    <a href="#" title="move forward" class="toolbar-item tbmoveforward"
       onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_props', 'forward']);"><i class="fa fa-arrow-up"></i></a>
    <a href="#" title="move back" class="toolbar-item tbmoveback"
       onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_props', 'backward']);"><i class="fa fa-arrow-down"></i></a>
    <a href="#" title="copy" class="toolbar-item tbcopy"
       onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_props', 'copy']);"><i class="fa fa-copy"></i></a>
    <a href="#" title="flip" class="toolbar-item tbflip"
       onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_props', 'flip']);" style="display: none;"><i
      class="fa fa-arrows-h"></i></a>
    <a href="#" title="group" class="toolbar-item tbgroup"
       onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_props', 'group']);" style="display: none;">Group</a>
    <a href="#" title="ungroup" class="toolbar-item tbungroup"
       onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_props', 'ungroup']);" style="display: none;"><i
      class="fa fa-columns"></i></a>
    <a href="#" title="delete" class="toolbar-item tbdelete"
       onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_props', 'delete']);"><i class="fa fa-times"></i></a>
  </div>

</div>
 