<div style="width: 500px; height: 30px;">
  <ng-quill-editor ng-model="message"
  toolbar="true"
  link-tooltip="true"
  image-tooltip="true"
  toolbar-entries="font size bold list bullet italic underline strike align color background"
  editor-required="false" required="" error-class="input-error">

<button title="Bold" class="toolbar-item ql-bold"
              onclick="_gaq.push(['_trackEvent', 'editor', 'toolbar_text', 'bold']);" type="button"><i
        class="fa fa-bold"></i></button>

  </ng-quill-editor>
 </div>
