
<div id="gtexttoolbar" class="floatingtexttoolbar">
  <!-- <div id="full-toolbar" class="toolbar"> -->
  <div class="edittoolbar ql-toolbar ql-snow">
            <span class="toolbar-group">
            <a href="#" title="前置" class="toolbar-item tbmoveforward" >
              <i class="fa fa-arrow-up"></i>
            </a>
            <a href="#" title="后置" class="toolbar-item tbmoveback" >
              <i class="fa fa-arrow-down"></i></a>
            </span>

    <!--<select title="Font" class="ql-font" >-->
      <!--<option value="sans-serif" selected="">Sans Serif</option>-->
      <!--<option value="serif">Serif</option>-->
      <!--<option value="monospace">Monospace</option>-->
    <!--</select>-->

   <span class="webfonts" title="字体">
        <span data-image-src="Font" class="ql-font ql-picker" toggle-class="ql-expanded">
          <span class="ql-picker-label" id="selected-font-type">Arial</span>
          <span class="ql-picker-options" id="text-font-type">
            <span class="ql-picker-item" data-value="Batang">
              <img src="/assets/web-fonts/batang.png">
            </span>
            <span class="ql-picker-item" data-value="Courer New">
              <img src="/assets/web-fonts/courier-new.png">
            </span>
            <span class="ql-picker-item" data-value="Arial">
              <img src="/assets/web-fonts/arial.png">
            </span>

            <span class="ql-picker-item" data-value="Comic Sans">
              <img src="/assets/web-fonts/comic-sans.png">
            </span>

             <span class="ql-picker-item" data-value="Chewy">
              <img src="/assets/web-fonts/Chewy.png" >
            </span>

             <span class="ql-picker-item" data-value="Spirax">
              <img src="/assets/web-fonts/Spirax.png">
            </span>

            <span class="ql-picker-item" data-value="Sketch">
              <img src="/assets/web-fonts/sketch.png">
            </span>

            <span class="ql-picker-item" data-value="Twiggy">
              <img src="/assets/web-fonts/twiggy.png">
            </span>

             <span class="ql-picker-item" data-value="Penna">
              <img src="/assets/web-fonts/Penna.png">
            </span>

             <span class="ql-picker-item" data-value="PxXtra">
              <img src="/assets/web-fonts/pwxtrathin.png">
            </span>

             <span class="ql-picker-item" data-value="Halloween">
              <img src="/assets/web-fonts/halloween-match.png">
            </span>

            <span class="ql-picker-item" data-value="Coffee Written">
              <img src="/assets/web-fonts/coffee-written.png">
            </span>

            <span class="ql-picker-item" data-value="Roboto">
              <img src="/assets/web-fonts/roboto.png">
            </span>

            <span class="ql-picker-item" data-value="Wind">
              <img src="/assets/web-fonts/wind-sanspng.png">
            </span>

            <span class="ql-picker-item" data-value="Rabelo">
              <img src="/assets/web-fonts/Rabelo.png">
            </span>

            <span class="ql-picker-item" data-value="Wolf">
              <img src="/assets/web-fonts/Wolf.png">
            </span>
            <span class="ql-picker-item" data-value="Phantom">
              <img src="/assets/web-fonts/phantom-fingers.png">
            </span>
          </span>
        </span>
      </span>

  <span title="字大小" class="ql-size ql-picker " toggle-class="ql-expanded" >
        <span class="ql-picker-label" id="selected-font-size" data-label="16"></span>
        <span class="ql-picker-options" id="font-size" >
          <span class="ql-picker-item" data-value="11px"   data-label="8"></span>
          <span class="ql-picker-item" data-value="14px"   data-label="10"></span>
          <span class="ql-picker-item" data-value="16px"   data-label="12"></span>
          <span class="ql-picker-item" data-value="18px"   data-label="14"></span>
          <span class="ql-picker-item" data-value="22px"   data-label="16"></span>
          <span class="ql-picker-item" data-value="24px"   data-label="18"></span>
          <span class="ql-picker-item" data-value="27px"   data-label="20"></span>
          <span class="ql-picker-item" data-value="32px"   data-label="24"></span>
          <span class="ql-picker-item" data-value="40px"   data-label="30"></span>
          <span class="ql-picker-item" data-value="48px"   data-label="36"></span>
          <span class="ql-picker-item" data-value="60px"   data-label="45"></span>
          <span class="ql-picker-item" data-value="72px"   data-label="54"></span>
          <span class="ql-picker-item" data-value="84px"   data-label="63"></span>
          <span class="ql-picker-item" data-value="96px"   data-label="72"></span>
        </span>
  </span>

  <span title="字颜色" class="toolbar-item ql-color ql-picker ql-color-picker" toggle-class="ql-expanded">
        <span class="ql-picker-label" id="selected-text-color" ></span>
        <span class="ql-picker-options" id="text-color">
          <span class="ql-picker-item ql-primary" data-value="rgb(1, 1, 1)"
                style="background-color: rgb(1, 1, 1);"></span>
          <span class="ql-picker-item ql-primary" data-value="rgb(230, 0, 0)"
                style="background-color: rgb(230, 0, 0);"></span>
          <span class="ql-picker-item ql-primary"
                data-value="rgb(255, 153, 0)"
                style="background-color: rgb(255, 153, 0);"></span><span
          class="ql-picker-item ql-primary" data-value="rgb(255, 255, 0)"
          style="background-color: rgb(255, 255, 0);"></span>
          <span class="ql-picker-item ql-primary"
                                                                   data-value="rgb(0, 138, 0)"
                                                                   style="background-color: rgb(0, 138, 0);"></span><span
          class="ql-picker-item ql-primary" data-value="rgb(0, 102, 204)"
          style="background-color: rgb(0, 102, 204);"></span>
          <span class="ql-picker-item ql-primary"
                                                                   data-value="rgb(153, 51, 255)"
                                                                   style="background-color: rgb(153, 51, 255);"></span><span
          class="ql-picker-item" data-value="rgb(255, 255, 255)"
          style="background-color: rgb(255, 255, 255);"></span>
          <span class="ql-picker-item"
                                                                     data-value="rgb(250, 204, 204)"
                                                                     style="background-color: rgb(250, 204, 204);"></span><span
          class="ql-picker-item" data-value="rgb(255, 235, 204)"
          style="background-color: rgb(255, 235, 204);"></span>
          <span class="ql-picker-item"
                                                                     data-value="rgb(255, 255, 204)"
                                                                     style="background-color: rgb(255, 255, 204);"></span><span
          class="ql-picker-item" data-value="rgb(204, 232, 204)"
          style="background-color: rgb(204, 232, 204);"></span><span class="ql-picker-item"
                                                                     data-value="rgb(204, 224, 245)"
                                                                     style="background-color: rgb(204, 224, 245);"></span><span
          class="ql-picker-item" data-value="rgb(235, 214, 255)"
          style="background-color: rgb(235, 214, 255);"></span>
          <span class="ql-picker-item"
                                                                     data-value="rgb(187, 187, 187)"
                                                                     style="background-color: rgb(187, 187, 187);"></span><span
          class="ql-picker-item" data-value="rgb(240, 102, 102)"
          style="background-color: rgb(240, 102, 102);"></span>
          <span class="ql-picker-item"
                                                                     data-value="rgb(255, 194, 102)"
                                                                     style="background-color: rgb(255, 194, 102);"></span><span
          class="ql-picker-item" data-value="rgb(255, 255, 102)"
          style="background-color: rgb(255, 255, 102);"></span>
          <span class="ql-picker-item"
                                                                     data-value="rgb(102, 185, 102)"
                                                                     style="background-color: rgb(102, 185, 102);"></span><span
          class="ql-picker-item" data-value="rgb(102, 163, 224)"
          style="background-color: rgb(102, 163, 224);"></span>
          <span class="ql-picker-item"
                                                                     data-value="rgb(194, 133, 255)"
                                                                     style="background-color: rgb(194, 133, 255);"></span>
          <span
          class="ql-picker-item" data-value="rgb(136, 136, 136)"
          style="background-color: rgb(136, 136, 136);"></span>
          <span class="ql-picker-item" data-value="rgb(161, 0, 0)" style="background-color: rgb(161, 0, 0);"></span>
          <span
          class="ql-picker-item" data-value="rgb(178, 107, 0)" style="background-color: rgb(178, 107, 0);"></span>
          <span
          class="ql-picker-item" data-value="rgb(178, 178, 0)" style="background-color: rgb(178, 178, 0);"></span>
          <span
          class="ql-picker-item" data-value="rgb(0, 97, 0)" style="background-color: rgb(0, 97, 0);"></span><span
          class="ql-picker-item" data-value="rgb(0, 71, 178)" style="background-color: rgb(0, 71, 178);"></span><span
          class="ql-picker-item" data-value="rgb(107, 36, 178)"
          style="background-color: rgb(107, 36, 178);"></span><span
          class="ql-picker-item" data-value="rgb(68, 68, 68)" style="background-color: rgb(68, 68, 68);"></span><span
          class="ql-picker-item" data-value="rgb(92, 0, 0)" style="background-color: rgb(92, 0, 0);"></span><span
          class="ql-picker-item" data-value="rgb(102, 61, 0)" style="background-color: rgb(102, 61, 0);"></span><span
          class="ql-picker-item" data-value="rgb(102, 102, 0)" style="background-color: rgb(102, 102, 0);"></span><span
          class="ql-picker-item" data-value="rgb(0, 55, 0)" style="background-color: rgb(0, 55, 0);"></span><span
          class="ql-picker-item" data-value="rgb(0, 41, 102)" style="background-color: rgb(0, 41, 102);"></span><span
          class="ql-picker-item" data-value="rgb(61, 20, 102)"
          style="background-color: rgb(61, 20, 102);"></span>
        </span>
  </span>

<a title="斜体字" class="toolbar-item " ng-click="main.clickOnTool('font-italic') "><i
  class="fa fa-italic "></i></a>

<a title="粗体字" class="toolbar-item " ng-click="main.clickOnTool('font-bold') "><i
  class="fa fa-bold "></i></a>

<a title="下画线" class="toolbar-item " ng-click="main.clickOnTool('font-underline') "><i
  class="fa fa-underline "></i></a>

<a title="靠左" class="toolbar-item " ng-click="main.clickOnTool('align-left') "><i
  class="fa fa-align-left "></i></a>

<a title="居中" class="toolbar-item " ng-click="main.clickOnTool('align-center') "><i
  class="fa fa-align-center "></i></a>

<a title="居右" class="toolbar-item " ng-click="main.clickOnTool('align-right') "><i
  class="fa fa-align-right "></i></a>
    <a title="左右翻转" class="toolbar-item " ng-click="main.clickOnTool('flipX')"><i class="fa fa-arrows-h "></i></a>
    <a title="上下翻转" class="toolbar-item " ng-click="main.clickOnTool('flipY')"><i class="fa fa-arrows-v "></i> </a>

<a  title="删除" class="toolbar-item " ng-click="main.clickOnTool('delete') "><i class="fa fa-trash-o "></i></a>

  </div>
</div>

</div>
