
<div class="topbar-left">
  <ul class="nav nav-list nav-list-topbar pull-left">
    <li>
      <button type="button" ng-click="main.newPage()" class="btn btn-square btn-warning btn-block">新建</button>
    </li>
    <li class="active">
      <button type="button" ng-click="main.copyPage()"  class="btn btn-square btn-warning btn-block">复制</button>
    </li>
    <li>
      <button type="button" class="btn btn-square btn-warning btn-block" ng-click="main.deletePage()">删除</button>
    </li>
    <!--<li>-->
      <!--<button type="button"  class="btn btn-rounded btn-system btn-block">  |  </button>-->
    <!--</li>-->
    <li>
      <button type="button"  class="btn btn-square btn-system btn-block">  |  </button>
    </li>


    <li>
      <button type="button" ng-click="main.previousPage()"
              class="btn btn-square btn-warning btn-block">前一页
      </button>
    </li>
    <li class="active">
      <button type="button" ng-click="main.nextPage()"
              class="btn btn-square btn-warning btn-block" >下一页</button>
    </li>

    <li>
      <button type="button"  class="btn btn-square btn-system btn-block">  |  </button>
    </li>

    <li class="active">
      <button type="button" ng-click="main.drawMode()"
              class="btn btn-square btn-warning btn-block" > 画笔 </button>
    </li>

  </ul>

  <ul class="pull-right">

    <div class="pull-right hidden-xs hidden-sm">
      <button class="btn ladda-button btn-warning" ladda="loginLoading" ng-click="main.saveToServe()" data-spinner-color="#ffffff">
        保 存
      </button>
      <button type="button" class="btn  btn-warning "   ng-click="main.finishCreateBook()">
          完 成
      </button>
    </div>
  </ul>
</div>


