/**
 *  Do not remove the comments bellow. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */

// bower:less
// endbower


/**
 * //////////////////////////////////////////////////////////////////////////////////
 **/


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


#loading-bar .bar {
  background-color:#0096C0;
}

#loading-bar .bar .peg {
  box-shadow: #0096C0 1px 0 6px 1px;
}

/** For Font Awesome, let's have some REALLY big icons **/
.fa-1x-half { font-size: 1.5em; }
.fa-7x { font-size: 7em; }
.fa-9x { font-size: 9em; }
.fa-11x { font-size: 11em; }

/** For zmdi icons, let's also have these REALLY big **/
.zmdi-hc-6x { font-size: 6em; }
.zmdi-hc-8x { font-size: 8em; }
.zmdi-hc-10x { font-size: 10em; }


/** Mimic links with same button padding size for alignment **/
.link {  }
.link:hover { cursor: pointer; text-decoration: underline; }
.link-lg { display: inline-block; padding: 10px 16px; font-size: 17px; }
.btn-link:hover { background-color: #eee; }


/** Present a close button for Bootstrap UI Modal **/
.modal-close { position: absolute; right: 0; top: 0; cursor: pointer; }
.modal-close:before { position: absolute; background: transparent; color: #bbb; content: '\00D7'; font-size: 26px; font-weight: 400; height: 25px; line-height: 26px; right: 12px; top: 6px; }
.modal-close:hover:before { color: #7E7E7E; }

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector

/* for Settings page*/

#progress-step{
  margin-bottom: -5px;
}


.progsteps-container{
  text-align: center;
  margin:0 auto;
}

.progsteps-container.grid12{
  margin-bottom:20px;
}

.is-progstep-selected span{
  /*background: #a4a4a4 url(./Images/progress-arrow-small.png) no-repeat right!important;*/
  background: #ffffff!important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.is-progstep-visited span{}
#step-profile span {
}
#step-config span {
}

#toast-container {
}

@media print {
  .no-print { display: none !important;}
}
