</br>
</br>
</br>
</br>
</br>
<container>

  <div>
    <button ng-click="changeBackground()">Change background </button>
    <button ng-click="addText()"> Add text </button>
  </div>

  <div>
    <img src="/assets/images/callout/callout_circle_right.svg" id="my-image" width="100" height="60">
  </div>
  <div class="col-lg-5">
    <canvas id="c" width="1000" height="1000"></canvas>
  </div>

</container>

<button ng-click="loadingWithProgress(2);" ladda-button="laddaLoadingBar[2]" data-color="purple" data-style="slide-right" class="ladda-button">    <span class="ladda-label">progress bar</span>
  <span class="ladda-spinner"></span><div class="ladda-progress" style="width: 198px;"></div></button>

<button ladda="loginLoading" ng-click="login()" data-spinner-color="#ffffff">
  Login
</button>

<button class="ladda-button" data-color="red" data-style="contract-overlay" style="z-index: 10;">
  <span class="ladda-label">Submit</span><span class="ladda-spinner"></span>
  <div class="ladda-progress" style="width: 0px;"></div>
</button>
