
.whitelabel(@partnerCode, @primaryColor, @topBarColor, @headingColor, @fontColor, @backgroundColor){

  //creates parent class with partnerCode.
  //Example: body.abst { .... }
  body.@{partnerCode} {
    //background color of site
    background-color: @backgroundColor;

    //all submit/acknowledgement buttons
    .btn-primary { background-color: @primaryColor; }

    //top nav bar background color
    #header { background: @topBarColor; }

    //all heading text
    h1, h2, h3, h4, h5 { color: @headingColor; }

    //font color
    .container { color: @fontColor; }
  }
}
