//@consumer-red: rgb(131, 40, 37);
//@lojack-red: rgb(211, 25, 24);
//@consumer-grey: rgb(45, 45, 43);
//@consumer-yellow: rgb(254,210,90);
//
//@absolute-green: rgb(100,190,32);
//@absolute-gray-light: rgb(46,47,48); //from Bob/
//@absolute-gray: rgb(28,29,31);
//
//.bgm-abt-dark { background-color: @absolute-gray-light !important; }
//.bgm-abt-light-gray { background-color: @app-gray };
