
@font-face {
  font-family: Chewy;
  src:url('/assets/web-fonts/font/Chewy.ttf');
}
@font-face {
  font-family: Wolf;
  src:url('/assets/web-fonts/font/Wolf Moon.ttf'),
      url('/assets/web-fonts/font/Wolf Moon.otf');
}

@font-face {
  font-family: Spirax;
  src:url('/assets/web-fonts/font/Spirax-Regular.ttf');
}
@font-face {
  font-family: Phantom;
  src:url('/assets/web-fonts/font/Phantom Fingers.ttf'),
      url('/assets/web-fonts/font/Phantom Fingers.otf')
}
@font-face {
  font-family: Sketch;
  src:url('/assets/web-fonts/font/Sketch Fine Serif.otf'),url('/assets/web-fonts/font/Sketch Fine Serif.woff');
}
@font-face {
  font-family: Twiggy;
  src:url('/assets/web-fonts/font/Twiggy-Regular.otf');
}

@font-face {
  font-family: Penna;
  src:url('/assets/web-fonts/font/penna.otf');
}

@font-face {
  font-family: PxXtra;
  src:url('/assets/web-fonts/font/PWXtraThin.ttf');
}

@font-face {
  font-family: Halloween;
  src:url('/assets/web-fonts/font/HALLMT__.TTF');
}


@font-face {
  font-family: Coffee Written;
  src:url('/assets/web-fonts/font/Coffee Written.otf'),url('/assets/web-fonts/font/Coffee Written.woff'),;
}

@font-face {
  font-family: Roboto;
  src:url('/assets/web-fonts/font/RobotoSlab-Regular.tff');
}

@font-face {
  font-family: Wind;
  src:url('/assets/web-fonts/font/wind.ttf');
}
//@font-face {
//  font-family: OpenSans;
//  src:url('/assets/web-fonts/font/open-sans.ttf');
//}

@font-face {
  font-family: Rabelo;
  src:url('/assets/web-fonts/font/Rabelo Regular.ttf'),url('/assets/web-fonts/font/Rabelo Regular.otf');
}
