@font-face {
  font-family: 'Breuer';
  src: url('../../assets/fonts/breuertext-regular-webfont.eot');
  src: url('../../assets/fonts/breuertext-regular-webfont.eot#iefix') format('embedded-opentype'),
      url('../../assets/fonts/breuertext-regular-webfont.woff') format('woff'),
      url('../../assets/fonts/breuertext-regular-webfont.ttf') format('truetype'),
      url('../../assets/fonts/breuertext-regular-webfont.svg#webfont') format('svg');

}

body, html {
  height: 100%;

}

body {
  font-family: 'Breuer', Verdana, sans-Serif;
  font-size: 18px;
  background-color: white;
}

#main {
  padding-top: 28px;

}
//.aside {
//  position: absolute;
//  width: 220px;
//  top: 0;
//  left: 0;
//  bottom: 0;
//  z-index: 116;
//  -webkit-backface-visibility: hidden;
//  -moz-backface-visibility: hidden;
//  backface-visibility: hidden;
//  background-color: #ffffff;
//}
//.aside .aside-inner {
//  padding-top: 70px;
//  height: 100%;
//  width: 220px;
//  overflow: hidden;
//}

.page-browser {
  height: 100px;
  background-color: #becfd5;
}

.page-panel {
  position:relative;
  top:0px;
  float:left;
  left:5px;
}

.page-big {
  position: relative;
  float: left;
  width: 560px;
  height: 400px;
  background-color: #FFFFDF;
  border:solid;
  border-width: 10px;
  border-color: #becfd5;
  margin: 10px;
}
  .active {
  border-color: #E76E34;
}

.page-canvas {
  width: 530px;
  height: 400px;
}

.itext {
  width: 300px;
  background: transparent;
  border-color: #E76E34;
  position: absolute;
  z-index: 2;
}
