<link rel="stylesheet" href="bower_components/quill/dist/quill.snow.css">
<div id="bookeditor">
    <div side-navbar></div>
    <div class="editor">
      <div preview-scroll-panel></div>
      <div class="page-panel">
        <div class="panel" id="bigPagePanel">
          <div class="row" ng-show="main.contentPageMode">
            <div double-design-page></div>
          </div>
          <div class="row" ng-show="main.frontCoverMode">
            <div front-cover-design></div>
          </div>
          <div class="row" ng-show="main.dedicatePageMode">
            <div dedicate-design></div>
          </div>
          <div class="row" ng-show="main.backCoverMode">
            <div back-cover-design></div>
          </div>
          <div class=" design-action-panel">
            <div top-bar-command style="background-color: #017ebc"></div>
          </div>
          <div ng-if="main.editBook === true" recover-page></div>
          </div>
        </div>
      </div>
  </div>
</main>


<div class="tool-items">
  <a title="move forward" class="toolbar-item " ng-click="main.clickOnTool('bringToFront') "><i
    class="fa fa-arrow-up "></i></a>
  <a title="move back" class="toolbar-item" ng-click="main.clickOnTool('sendToBack')"><i
    class="fa fa-arrow-down  "></i></a>

  <a title="copy" class="toolbar-item " ng-click="main.clickOnTool('copy')"><i class="fa fa-copy  "></i></a>
  <a title="flipX" class="toolbar-item " ng-click="main.clickOnTool('flipX')"><i class="fa fa-arrows-h "></i></a>
  <a title="flipY" class="toolbar-item " ng-click="main.clickOnTool('flipY')"><i class="fa fa-arrows-v "></i> </a>
  <a title="ungroup" class="toolbar-item " ng-click="" style="display: none;"><i class="fa fa-columns "></i></a>
  <a  title="delete" class="toolbar-item " ng-click="main.clickOnTool('delete') "><i class="fa fa-trash-o "></i></a>
</div>

<div class="text-toolbar" text-toolbar > </div>

