@hove-color: #F5B025;

.DocumentList
{
  overflow-x:scroll;
  overflow-y:hidden;
  height:90px;
  width:100%;
  padding: 0 0px;
  background-color: #00acee;
}

.DocumentItem
{
  display: inline-block;
  margin-right: 5px;
  margin-top:0px;
  padding:0;
  background-color: transparent;
  height:75px;
}
.list-inline {
  white-space: nowrap;
  margin-left: 20px;
  margin-top:-5px;
  /*height: 90px;*/
  background-color: transparent;
}

.page-preview-panel {
  float: left;
  width: 100%;
  height: 85px;
  //margin: 10px;
  padding:5px 10px;
  background-color: white;
}

.page-preview-scroll-panel
{
  overflow-x:scroll;
  overflow-y:hidden;
  height: 85px;
  //width:100%;
  margin:auto;
  //padding: 4px 0px;
  border-radius:5px;
  background-color: white;
}
//
//.page-preview-scroll-panel::-webkit-scrollbar{
//  width:8px;
//  background-color:#cccccc;
//}
//
//.page-preview-scroll-panel::-webkit-scrollbar-thumb{
//  background-color: #24aa78;
//  border-radius:8px;
//}
//.page-preview-scroll-panel::-webkit-scrollbar-thumb:hover{
//  background-color: #2edd9b;
//  border:1px solid #333333;
//}
//.page-preview-scroll-panel::-webkit-scrollbar-thumb:active{
//  background-color: #ff6619;
//  border:1px solid #333333;
//}
//.page-preview-scroll-panel::-webkit-scrollbar-track{
//  border:1px gray solid;
//  border-radius:10px;
//  -webkit-box-shadow:0 0 6px gray inset;
//}

.page-control-left {
  height: 100px;
  width: 100px;
  background-color: #f9f200;
  text-align: right;
}

.page-control-center {
  overflow-x: scroll;
  width: 101%;
  height: 80px;
  overflow-x:auto;
  background-color: #ffffff;
}

.page-control-right {
  margin: 0px;
  height: 100px;
  width: 100px;
  background-color: #f9f200;
}

.page-sheet {
  float: left;
  left:10px;
  text-align: center;
  margin-top: 5px;
  margin-left: 0px;
  margin-right:0px;
  align-content: center;
  /*height: 70px;*/
  background-color: transparent;
}

.page-sheet> .even {
  margin-left: 5px;
}

.page-sheet> .odd {
  margin-right: 0px;
}

.page-preview {
  float: left;
  margin: 1px;
  margin-left:5px;
  width: 80px;
  ///*height: 60px;*/
  border-radius:2px;
  border:1px solid #c9dbe1 ;
  background-color: #FFFFFF;
}
.page-preview.active{
  background-color: #F5B025;;
}
.page-number-left{
  float:left;
  font-size: small;
  font-weight: 700;
  color:#0d3349;
  margin-left:0px;
  margin-right: 0px;
}

.page-number{
  float:left;
  width: 20px;
  font-size: small;
  font-weight: 400;
  color: #989f8b;
  margin-right: 0px;
}

.even-page-preview {
  float: left;
  margin: 0px;
  margin-left: 0px;
  margin-right: -5px;
  width: 80px;
  height: 60px;
  border-radius:4px;
  border:0px solid #c9dbe1 ;
  background-color: #FFFFFF;
  padding: 0px;
}

.odd-page-preview {
  float: left;
  margin: 0px;
  margin-right: 0px;
  width: 80px;
  height: 60px;
  border-radius:4px;
  border:0px solid #c9dbe1 ;
  background-color: #FFFFFF;
}

/*.cover-preview {*/
  /*float: left;*/
  /*margin: 2px;*/
  /*margin-right:10px;*/
  /*margin-left:10px;*/
  /*width: 80px;*/
  /*height: 60px;*/
  /*border-radius:5px;*/
  /*border:3px solid #c9dbe1 ;*/
  /*background-color: #FFFFFF;*/
  /*/!*background-color: #2f64ff;*!/*/
/*}*/

.cover-image {
  border: 0px @hove-color;
  width: 70px;
  height: 58px;
  margin: 2px;
  background-image: url("/assets/images/preview-bk.png");
}

.page-control-left, .page-control-right > button {
  background-color: #b4b472;
  width: 90px;
  margin: 5px;
}

.page-design-panel {
  position:relative;
  margin:auto;
  top:0px;
  margin-left: 20px;
  //height: 420px;
  //margin-bottom: 20px;
  background-color: transparent;
  /*float:left*/
}

.page-big  {
  position: relative;
  float: left;
  background-color: #FFFFDF;
  border:solid;
  border-width: 5px;
  border-color: #c9dbe1;
  margin-right: 10px;
}

.page-design-border {
  position: relative;
  float:left;
  /*margin-left: auto;*/
  /*margin-right:auto;*/
  background-color: white;
  border:solid;
  border-width: 5px;
  border-color: #c9dbe1;
  text-align: center;
  /*align-content: center;*/
  /*vertical-align: middle;*/
  display: inline;
}

.color-picker {
}

.title-panel {
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  height: 80px;
  line-height: 80px;
  background-color: transparent;
}

.title-panel > span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.author-panel {
  text-align: center;
  margin-top:10px;
  font-size: large;
  font-weight: 700;
  height: 80px;
}

 .author-panel > span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.page-design-border > img {
  /*pistion:absolute;*/
  /*top:50%;*/
  /*left:50%;*/
  /*margin:100px 0 0 150px;*/
  /*border:1px solid red;*/
  background: white;
  position: relative;
  height:100%;
}

.front-cover-right {
  float:left;
  margin: 50px;
  margin-top:5px;
  //height:360px;
  width:273px;
  position: relative;
  background-color: ghostwhite;
  border:solid;
  border-width: 2px;
  border-color: #c8dae0;
  border-radius:6px;
}

.front-cover-right > .cover-panel  {
  margin: auto;
  width:80%;
}

.dedication-right {
  float: left;
  margin: 50px;
  margin-top: 5px;
  width: 273px;
  height: 300px;
  position: relative;
  background-color: ghostwhite;
  border: solid;
  border-width: 2px;
  border-color: #c8dae0;
  border-radius: 6px;
}

.back-cover-right {
  float:left;
  margin-left: 20px;
  margin-right: 20px;
  height:150px;
  width:450px;
  position: relative;
  background-color: ghostwhite;
  border:solid;
  border-width: 5px;
  border-color: #c9dbe1;
  border-radius:10px;
}
.input-height {
  height: 10px;
}

.back-cover-up {
  text-align: center;
  font-size: larger;
  height: 60px;
  line-height: 60px;
  background-color: transparent;
}

.active {
  border-color: #F5B025;
}

.page-canvas {
  border-color: transparent;
  /*width: 550px;*/
  /*height: 400px;*/
}
//
//.left_panel {
//  height: 100%;
//  width:190px;
//  overflow-y:auto;
//  background-color: #ffffff;
//}
.page-nav-panel {
  position:relative;
  top:50px;
  height: 100px;
  background-color: #ff0430;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#bigPagePanel{
  background: transparent;
  margin:10px;
}

.dedicateDiv{
  width: 95%;
  margin:auto;
  //height:120px;
}

textarea
{
  width: 100%;
  //height: 200px;
  margin: auto;
  padding: 5px;
  vertical-align: middle;
  resize: none;
}
#dedication {
  height:200px;
  resize: both;
}

.tool-items {
   position: absolute;
   //background-color: grey;
  background-color: #0079cd;
   height:30px;
   padding: 0px;
   border-radius: 5px;
   left:0px;
   top: 0px;
   //margin-top: 5px;
 }

.text-toolbar {
  position: absolute;
  background-color: #0079cd;
  padding: 0px;
  border-radius: 5px;
  left:0px;
  top: 0px;
  //margin-top: 5px;
}

.toolbar-item {
  vertical-align: middle;
  color: #ffffff !important;
  cursor: pointer;
  position: relative;
  margin:2px;
}
.toolbar-item:hover {
  background-color: @hove-color;
}

.editor {
  position: absolute;
  //overflow:auto;
  height: auto;
  min-width: 600px;
  top:60px;
  left:180px;
  right:20px;
  background-color: #eeeeee;
  float: left;
  margin-bottom: 10px;
  //margin-top: 30px;
}

.panel-group :hover {
  background-color: @hove-color !important;
}

.sidebar-nav :hover{
  background-color:  @hove-color !important;
}

.panel-body :hover{
  background-color:white !important;
}

.panel-collapse :hover {
  background-color: white !important;
}
.panel-collapse {
  background-color: white !important;
}

.panel-default {
  border-top-width: 1px !important;
}
.panel-heading {
  background-color: white !important;
}

.nav-list-topbar {
  float:left;
  margin-bottom: 20px;
}

.topbar-left {
  width:100%;
}

.topbar-left > ul >li {
  display: inline-block;
  zoom:1;
  *display:inline;
  margin: 0px 3px;
}

.design-action-panel {
  background-color: white ;
  margin: 10px;
  width:100%;
}
.edittoolbar {
  height: 40px;
  //background-color: #4a515c;
  border-radius: 5px;
  color: white;
}
//
//.ql-snow.ql-toolbar {
//  box-sizing: border-box;
//  padding: 4px !important;
//  user-select: none;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//}
//
//.edittoolbar.ql-snow.ql-toolbar button, .edittoolbar.ql-snow .ql-toolbar button {
//  box-sizing: border-box;
//  display: inline-block;
//  height: 24px;
//  vertical-align: middle;
//  background-position: center center;
//  background-repeat: no-repeat;
//  background-size: 18px 18px;
//  box-sizing: border-box;
//  cursor: pointer;
//  text-align: center;
//  width: 24px;
//}
//
//.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
//  background: none;
//  border: none;
//  cursor: pointer;
//  display: inline-block;
//  float: left;
//  height: 24px;
//  outline: none;
//  padding: 3px 5px;
//  width: 24px;
//}
//.edittoolbar button {
//  font-size: 16px;
//}
//.ql-snow * {
//  box-sizing: border-box;
//}
//
//.edittoolbar.ql-snow.ql-toolbar .ql-picker.ql-expanded .ql-picker-options {
//  background-color: #0071bc;
//  display: block;
//  margin-top: -1px;
//  z-index: 1;
//}
//
//.edittoolbar.ql-snow.ql-toolbar .ql-picker .ql-picker-label {
//  box-sizing: border-box;
//  display: inline-block;
//  height: 24px;
//  line-height: 24px;
//  vertical-align: middle;
//  background-position: right center;
//  background-repeat: no-repeat;
//  background-size: 18px 18px;
//  cursor: pointer;
//  position: relative;
//  width: 100%;
//}
//
.edittoolbar.ql-snow.ql-toolbar .ql-picker.ql-size {
  width: 48px;
}
//.edittoolbar.ql-snow.ql-toolbar .ql-picker {
//  color: white;
//}
//
//.ql-snow.ql-toolbar .ql-picker .ql-picker-options .ql-picker-item {
//  background-position: center center;
//  background-repeat: no-repeat;
//  background-size: 18px 18px;
//  box-sizing: border-box;
//  cursor: pointer;
//  display: block;
//  padding-bottom: 5px;
//  padding-top: 5px;
//  //color:red;
//}

.ql-picker-options {
  background-color: #1daac8 !important;
  color:white !important;
  max-height:400px;
  overflow-y: auto;
}
.ql-color-picker, .ql-pick-label  {
  top:-2px !important;
  background-image: url("assets/images/color-picker.ico")  !important;;
}
.ql-picker-item:hover{
  font-weight: bold !important;
  color: white !important;
}
.book-background-panel {
  height: 150px;
  width:300px;
}

.book-background-panel > .ql-snow.ql-toolbar {
  left:0px;
  height: 170px;
  width:235px;
}
.book-background-panel>  .ql-toolbar.ql-snow .ql-picker-options {
  height: 150px;
}
.book-background-panel> .ql-toolbar.ql-snow .ql-picker-options .ql-picker-item {
  width:24px;
  height: 24px;
}

.webfonts{

}
.webfonts > .ql-font .ql-snow.ql-toolbar .ql-picker .ql-picker-options .ql-picker-item {
  width: 80px;
  height: 32px;
}

.ql-picker-item > img {
  width: 80px  !important;
  height: 32px   !important;
}
