<ng-transclude></ng-transclude>
<div class="left_panel">
       <image class="carton_image"
             ng-repeat="img in material.sgroup.images"
             src="{{img}}"
             ng-click="material.addImage(img, material.sgroup.imageType)" />
</div>
