<accordion-group is-open="isopen" ng-click="" >

  <accordion-heading ng-click="isopen=!isopen">
    <div style="{width:100%}"> {{ material.desc}} </div>
  </accordion-heading>

  <div class="left_panel">
    <ng-transclude></ng-transclude>
    <div>
      <image class="carton_image"
             ng-repeat="img in material.sgroup.images"
             src="{{img}}"
             ng-click="material.addImage(img, material.sgroup.imageType)"
        />
    </div>
  </div>
</accordion-group>
