<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">StoryToaster</a>
</div>
<div class="navbar-header pull-right" style="margin-right: 30px;">

<div class="navbar-header pull-right"  ng-show="header.storage.user">
  <a class="navbar-brand" ng-click="header.logOut()"  href="">
    退出
  </a>
</div>
<div class="navbar-header pull-right" ng-show="!header.storage.user">
  <a class="navbar-brand" ng-click="header.openLogin()"  href="">
    登录
  </a>
</div>
<div class="navbar-header pull-right"  ng-show="header.storage.user">
  <a class="navbar-brand" ui-sref="app.account.settings.loginInfo"   href="">
    账户设置
  </a>
</div>
</div>
<ul class="header-inner clearfix">
  <li class="logo">
   </li>
  <!-- end logo -->

  <!-- end language, login pull-right -->
</ul>
<!-- header-inner -->
