<div class="my-books-panel">
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="panel-title fa fa-book"> 我的书</span>
    </div>

    <div class="panel-body">
      <div class="col-sm-2 space-5px ">
        <div class="" style="padding: 45px 10px; height: 37px;">
          <!--<i class="fa fa-pencil" style="font-size: 1.1em;"></i>-->
          <button type="button" ng-click="bookCtrl.createBook()" class="btn btn-rounded btn-warning light mr10">
            <span class="fa fa-edit pr5"></span>做本新书
          </button>
        </div>
      </div>
      <div ng-repeat="b in bookCtrl.mybooks">
        <div class="col-sm-3">
          <book-tile book=b index=$index/>
        </div>
      </div>
     </div>
  </div>
</div>
