<!-- START Sidebar (left)-->
<div class="aside-inner">
  <nav sidebar="" sidebar-anyclick-close="" class="sidebar">
    <!-- START sidebar nav-->
    <accordion close-others="true">
      <accordion-group heading="Static Header, initially expanded" is-open="isopen" ng-click="isopen=!isopen"
                       is-disabled="status.isFirstDisabled">
        This content is straight in the template.
      </accordion-group>

      <div material-section sgroup = "backgroundGroup" desc="backgroundGroupText">
        <div class="more_props_div" >
          <button class="more_props btn btn-xs btn-square btn-warning">更多背景</button>
          <button class="more_props btn btn-xs btn-square btn-warning"
                  ng-click="main.removeBackground()">去掉背景</button>
        </div>
      </div>
      <div material-section sgroup = "propsGroup" desc="propsGroupText">
        <div  class="more_props_div">
          <button class="more_props btn  btn-xs btn-square btn-warning">更多素材</button>
        </div>
      </div>
      <div material-section sgroup="textImages" desc="textGroupText"> </div>

      <div material-section sgroup="bigTextImages" desc="bigTextGroupText">
        <div  class="more_props_div">
          <button class="more_props btn  btn-xs btn-square btn-warning" ng-click="main.addNoBgStoryText()">无背景故事文字</button>
        </div>
      </div>

   </accordion>
    <ul class="nav sidebar-menu">
      <li class="sidebar-nav">
        <a href="/mybooks">
          <span class="fa fa-dot-circle-o text-primary"></span>
          <span class="sidebar-title">我的书</span>
        </a>
      </li>
    </ul>
<!-- END sidebar nav-->
</nav>
</div>
<!-- END Sidebar (left)-->
