
@sidebar-width: 180px;

@top-bar-height:60px;

.aside-inner {
  position: absolute;
  top: @top-bar-height;
  font-size: 14px;
  width: @sidebar-width;
  background-color: white !important;
  bottom: 10px;
}

.aside-inner ul.nav {
  margin:0px;
  background-color: white !important;
  width: @sidebar-width;
}

.left_panel {
  max-height: 450px;
  overflow-y:auto;
  overflow-x:hidden;
  position: relative;
  background-color: #ffffff;
  width:@sidebar-width;
  left:-15px;
}

.page-preview-scroll-panel::-webkit-scrollbar,
.left_panel::-webkit-scrollbar{
  width:5px;
  height:10px;
  background-color: #eeeeee;
}

.page-preview-scroll-panel::-webkit-scrollbar-thumb,
.left_panel::-webkit-scrollbar-thumb{
  background-color: #F5B025;;
  border-radius:8px;
}
.page-preview-scroll-panel::-webkit-scrollbar-thumb:hover
.left_panel::-webkit-scrollbar-thumb:hover{
  background-color: red;
  border:1px solid #333333;
}
.page-preview-scroll-panel::-webkit-scrollbar-thumb:active
.left_panel::-webkit-scrollbar-thumb:active{
  background-color: #ff6619;
  border:1px solid #333333;
}
.page-preview-scroll-panel::-webkit-scrollbar-track,
.left_panel::-webkit-scrollbar-track{
  border:1px gray solid;
  border-radius:10px;
  -webkit-box-shadow:0 0 6px gray inset;
}
.carton_image {
  float:left;
  width: 68px;
  height: 51px;
  margin:5px;
}
.carton_image:hover{
  background-color: #ff6619;
  border: 3px solid #ff9710 !important;
}
.collapsing {
  transition: height 0.2s !important;
}

.more_props_div{
  text-align: center;
  padding-right: 10px;

}
